<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-detail">
                <h1>404</h1>
                <strong>:( 页面未找到</strong>
                <p>
                    抱歉，您请求的页面不存在。请检查请求地址是否有误!
                </p>
                <div class="buttons" kt-ripple-button>
                    <a ng-click="goHome()" class="btn btn-silver">返回首页</a>
                    <a ng-click="back()" class="btn btn-yellow">返回</a>
                </div>
            </div>
        </div>
    </div>
</div>
