<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-detail">
                <h1>500</h1>
                <strong>:( 页面无法访问</strong>
                <p>
                    抱歉，您请求的页面无法访问。请刷新或稍后重试!
                </p>
                <div class="buttons" kt-ripple-button>
                    <a ng-click="goHome()" class="btn btn-silver mr10">返回首页</a>
                    <a ng-click="back()" class="btn btn-yellow">刷新</a>
                </div>
            </div>
        </div>
    </div>
</div>
