<div class="dashboard">
    <div class="dashboard_header">
        <div class="dashboard_content">
            <h3>机构信息</h3>
            <p>
                互金平台、挂牌场所、不同类型资产的发行量、收益率排行及环比数据<br>
                助您快速了解互金平台的资产偏好及各平台的发行量趋势
            </p>
            <div class="go_library">
                <a ui-sref="pano.institutions.table.list" ng-click="bdTrack(['机构信息','banner','进入机构库'])">
                    进入机构库
                </a>
                <i class="icon-pano icon-library"></i>
            </div>
        </div>
    </div>
    <div class="dashboard_body">
        <h3>互联网金融平台</h3>
        <div class="dashboard_body_one">
            <div class="amount_table_left fl">
                <div class="all_amount_title">
                    <span>近7日发行量</span>
                    <span class="all_top">TOP10</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="PANO收录的互联网金融平台近7天发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                    <div class="look_more">
                        <a ui-sref="pano.institutions.table.list({institution_type: 0,sort_by:'sum_amount',order:'desc'})" ng-click="bdTrack(['机构信息','互金平台-近7日发行量','查看更多'])">查看更多<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="amounts.all_amount.length" ng-repeat="amount in amounts.all_amount">
                                <td class="first_td">
                                    <div class="goup" ng-if="amount.offset > 0">
                                        <span ng-bind="amount.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="amount.offset < 0">
                                        <span ng-bind="amount.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="amount.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="amount.name" target="_blank" ui-sref="pano.institutions.detail({id: amount.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="amount.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: amount.name})">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.all_amount.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="amount_table_right fr">
                <div class="all_amount_title">
                    <span>近7日资金成本（收益率）</span>
                    <span class="all_top">TOP10</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="PANO收录的互联网金融平台近7天所发行产品加权收益率排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                    <div class="look_more">
                        <a ui-sref="pano.institutions.table.list({institution_type: 0,sort_by:'rate',order:'asc'})" ng-click="bdTrack(['机构信息','互金平台-近7日收益率','查看更多'])">查看更多<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="amounts.all_rate.length" ng-repeat="rate in amounts.all_rate">
                                <td class="first_td">
                                    <div class="goup" ng-if="rate.offset > 0">
                                        <span ng-bind="rate.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="rate.offset < 0">
                                        <span ng-bind="rate.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="rate.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="rate.name" target="_blank" ui-sref="pano.institutions.detail({id: rate.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="rate.rate | ktFilterRate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: rate.name})">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.all_rate.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dashboard_body_two">
            <div class="enterprise_type_one fl">
                <div class="all_amount_title">
                    <span>企业借款类近7日发行量</span>
                    <span class="all_top">TOP5</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="PANO收录的互联网金融平台近7天企业借款类资产产品发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="amounts.business_borrowings.length" ng-repeat="business in amounts.business_borrowings">
                                <td class="first_td">
                                    <div class="goup" ng-if="business.offset > 0">
                                        <span ng-bind="business.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="business.offset < 0">
                                        <span ng-bind="business.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="business.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                     <a ng-bind="business.name" target="_blank" ui-sref="pano.institutions.detail({id: business.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="business.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: business.name})" ng-click="bdTrack(['机构信息','企业借款类近7日发行量','产品条数'])">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.business_borrowings.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="enterprise_type_two fl">
                 <div class="all_amount_title">
                    <span>小微金融类近7日发行量</span>
                    <span class="all_top">TOP5</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="PANO收录的互联网金融平台近7天小微金融类资产产品发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="amounts.small_finance.length" ng-repeat="small_finance in amounts.small_finance">
                                <td class="first_td">
                                    <div class="goup" ng-if="small_finance.offset > 0">
                                        <span ng-bind="small_finance.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="small_finance.offset < 0">
                                        <span ng-bind="small_finance.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="small_finance.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="small_finance.name" target="_blank" ui-sref="pano.institutions.detail({id: small_finance.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="small_finance.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: small_finance.name})" ng-click="bdTrack(['机构信息','小微金融类近7日发行量','产品条数'])">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.small_finance.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                           <!--  <tr ng-if="amounts.finance_tools.length" ng-repeat="tool in amounts.finance_tools">
                                <td class="first_td">
                                    <div class="goup" ng-if="tool.offset > 0">
                                        <span ng-bind="tool.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="tool.offset < 0">
                                        <span ng-bind="tool.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="tool.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td ng-bind="tool.name"></td>
                                <td ng-bind="tool.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: tool.name})" ng-click="bdTrack(['机构信息','小微金融类近7日发行量','产品条数'])">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.finance_tools.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="enterprise_type_three fl">
                 <div class="all_amount_title">
                    <span>供应链类近7日发行量</span>
                    <span class="all_top">TOP5</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="PANO收录的互联网金融平台近7天供应链类资产产品发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="amounts.supply_chain.length" ng-repeat="supply_chain in amounts.supply_chain">
                                <td class="first_td">
                                    <div class="goup" ng-if="supply_chain.offset > 0">
                                        <span ng-bind="supply_chain.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="supply_chain.offset < 0">
                                        <span ng-bind="supply_chain.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="supply_chain.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="supply_chain.name" target="_blank" ui-sref="pano.institutions.detail({id: supply_chain.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="supply_chain.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: supply_chain.name})" ng-click="bdTrack(['机构信息','供应链类近7日发行量','产品条数'])">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.supply_chain.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dashboard_body_three">
            <div class="enterprise_type_one fl">
                <div class="all_amount_title">
                    <span>金融工具类近7日发行量</span>
                    <span class="all_top">TOP5</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="
PANO收录的互联网金融平台近7天金融工具类资产产品发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-if="amounts.finance_tools.length" ng-repeat="tool in amounts.finance_tools">
                                <td class="first_td">
                                    <div class="goup" ng-if="tool.offset > 0">
                                        <span ng-bind="tool.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="tool.offset < 0">
                                        <span ng-bind="tool.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="tool.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="tool.name" target="_blank" ui-sref="pano.institutions.detail({id: tool.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="tool.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: tool.name})" ng-click="bdTrack(['机构信息','金融工具类近7日发行量','产品条数'])">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.finance_tools.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="enterprise_type_two fl">
                <div class="all_amount_title">
                    <span>房地产类近7日发行量</span>
                    <span class="all_top">TOP5</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="
PANO收录的互联网金融平台近7天房地产类资产产品发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="amounts.realty.length" ng-repeat="realty in amounts.realty">
                                <td class="first_td">
                                    <div class="goup" ng-if="realty.offset > 0">
                                        <span ng-bind="realty.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="realty.offset < 0">
                                        <span ng-bind="realty.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="realty.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="realty.name" target="_blank" ui-sref="pano.institutions.detail({id: realty.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="realty.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: realty.name})" ng-click="bdTrack(['机构信息','房地产类近7日发行量','产品条数'])">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.realty.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="enterprise_type_three fl">
                <div class="all_amount_title">
                    <span>政信类近7日发行量</span>
                    <span class="all_top">TOP5</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="PANO收录的互联网金融平台近7天政信类资产产品发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="amounts.gov_credit.length" ng-repeat="credit in amounts.gov_credit">
                                <td class="first_td">
                                    <div class="goup" ng-if="credit.offset > 0">
                                        <span ng-bind="credit.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="credit.offset < 0">
                                        <span ng-bind="credit.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="credit.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="credit.name" target="_blank" ui-sref="pano.institutions.detail({id: credit.name, dimension: 'from'})"></a>
                                </td>
                                <td ng-bind="credit.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({from_eq: credit.name})" ng-click="bdTrack(['机构信息','政信类近7日发行量','产品条数'])">查看产品</a>
                                </td>
                            </tr>
                            <tr ng-if="!amounts.gov_credit.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <h3>挂牌场所</h3>
        <div class="dashboard_place">
             <div class="all_amount_title">
                    <span>近7日发行量</span>
                    <span class="all_top">TOP10</span>
                    <i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="挂牌场所在PANO收录的平台中近7天发行量Top排行榜，以及与上一个7天相比排名变化。" class="icon-pano icon-info"></i>
                    <div class="look_more">
                        <a ui-sref="pano.institutions.table.list({institution_type: 1,sort_by:'sum_amount',order:'desc'})" ng-click="bdTrack(['机构信息','挂牌场所','查看更多'])">查看更多 <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="all_amount_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="spv.all_amount.length" ng-repeat="all_amount in spv.all_amount">
                                <td class="first_td">
                                    <div class="goup" ng-if="all_amount.offset > 0">
                                        <span ng-bind="all_amount.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-goUp"></i>
                                    </div>
                                    <div class="godown" ng-if="all_amount.offset < 0">
                                        <span ng-bind="all_amount.offset | ktFilterNum"></span>
                                        <i class="icon-pano icon-godown"></i>
                                    </div>
                                    <div class="unchanged" ng-if="all_amount.offset == 0">
                                        <span>-</span>
                                    </div>
                                </td>
                                <td>
                                    <a ng-bind="all_amount.name" target="_blank" ui-sref="pano.institutions.detail({id: all_amount.name, dimension: 'mapped_exchange'})"></a>
                                </td>
                                <td ng-bind="all_amount.amount | ktNumberLocate"></td>
                                <td>
                                    <i class="icon-pano icon-lookup"></i>
                                    <a target="_blank" ui-sref="pano.products.obligatoryRight({exchange_eq: all_amount.name})">查看产品</a>
                                </td>
                            </tr>
                             <tr ng-if="!spv.all_amount.length">
                                <td colspan="4">暂时没有数据！</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
