<form id="bsnsCardForm" novalidate name="bsnsCardForm" class="form-horizontal" kt-accessible-form>
    <!-- 正面上传名片 -->
    <div class="form-group border-bottom" ng-class="{'has-error':bsnsCardForm.card_url.$invalid && bsnsCardForm.card_url.$dirty}">
        <div>
            <div class="upload-face" ng-show="!user.card_url && !cardUrlUploadShow" ng-click="cardUrlUploadShow = true">
                <div class="inner">
                </div>
                <span class="note">
                    <i class="blank"></i>正面<i class="blank"></i>
                </span>
            </div>
            <div class="qrcode-bs-card text-center" ng-show="!user.card_url && cardUrlUploadShow">

                <div class="qrcode-body">
                    <div class="qrcode" kt-qr-code qrcode="qrcode"></div>
                    <h5>手机扫描上传</h5>
                    <div class="buttons upload">
                        <div class="btn btn-file" ng-class="{disabled: pendingUpload}">
                            <span>本地上传</span>
                            <input ng-click="$event.stopPropagation()" ngf-validate="{size: {max: '2MB'}" ngf-select="upload($files, $event)" ng-disabled="pendingUpload" accept="image/*" ngf-accept="'image/*'" ngf-pattern="'.jpg,.jpeg,.png,.bmp,.gif'" ngf-multiple="false" type="file" name="file" ng-model="file">
                        </div>
                    </div>
                </div>
            </div>
            <small ng-show="!user.card_url && !cardUrlUploadShow" class="mt10 text-center mb10">&nbsp;&nbsp;支持JPG和PNG格式，大小不超过5M</small>
            <div class="qrcode-bs-card preview text-center" ng-show="user.card_url">
                <!-- <h5>已上传的名片：</h5> -->
                <div class="qrcode-body">
                    <img ng-src="{{user.card_url}}" alt="您的名片" class="qrcode">
                    <div class="delete">
                        <!-- <small class="mb10">&nbsp;&nbsp;支持JPG和PNG格式，大小不超过5M</small> -->
                        <button class="btn btn-file" ng-click="deleteCardUrl($event)">重新上传</button>
                    </div>
                </div>
            </div>
            <input type="hidden" required ng-model="user.card_url" class="form-control" name="card_url">
            <div class="mt5 text-warning" ng-messages="bsnsCardForm.card_url.$dirty && bsnsCardForm.card_url.$error">
                <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请上传名片</div>
            </div>
        </div>
    </div>
    <!-- 背面上传名片 -->
    <div class="form-group" ng-class="{'has-error':bsnsCardForm.card_back_url.$invalid && bsnsCardForm.card_back_url.$dirty}">
        <div style="padding-top: 15px;">
            <div class="upload-face" ng-show="!user.card_back_url && !cardBackUrlUploadShow" ng-click="cardBackUrlUploadShow = true">
                <div class="inner">
                </div>
                <span class="note">
                   反面<br/>（可选）
                </span>
            </div>
            <div class="qrcode-bs-card text-center" ng-show="!user.card_back_url && cardBackUrlUploadShow">
                <div class="qrcode-body">
                    <div class="qrcode" kt-qr-code qrcode="qrcodeBack"></div>
                    <h5>手机扫描上传</h5>
                    <div class="buttons upload">
                        <div class="btn btn-file" ng-class="{disabled: pendingUploadBack}">
                            <span>本地上传</span>
                            <input ng-click="$event.stopPropagation()" ngf-validate="{size: {max: '2MB'}" ngf-select="uploadBack($files, $event)" ng-disabled="pendingUploadBack" accept="image/*" ngf-accept="'image/*'" ngf-pattern="'.jpg,.jpeg,.png,.bmp,.gif'" ngf-multiple="false" type="file" name="backfile" ng-model="backfile">
                        </div>
                    </div>
                </div>
            </div>
            <small ng-show="!user.card_back_url && !cardBackUrlUploadShow" class="mt10 text-center">&nbsp;&nbsp;支持JPG和PNG格式，大小不超过5M</small>
            <div class="qrcode-bs-card preview text-center" ng-show="user.card_back_url">
                <!-- <h5>已上传的名片：</h5> -->
                <div class="qrcode-body">
                    <img ng-src="{{user.card_back_url}}" alt="您的名片" class="qrcode">
                    <div class="delete">
                        <!-- <small class="mb10">&nbsp;&nbsp;支持JPG和PNG格式，大小不超过5M</small> -->
                        <button class="btn btn-file" ng-click="deleteCardBackUrl($event)">重新上传</button>
                    </div>
                </div>
            </div>
            <!-- <input type="hidden" required ng-model="user.card_back_url" class="form-control" name="card_back_url">
            <div class="mt5 text-warning" ng-messages="bsnsCardForm.card_back_url.$dirty && bsnsCardForm.card_back_url.$error">
                <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请上传名片</div>
            </div> -->
        </div>
    </div>
    <div class="form-group mt40" ng-show="uploadType === 'normal'">
        <div class="col-md-12 clfix">
            <div kt-loading-status height="32" width="32" ignores="/api/v1/shadows,/api/v1/cards[get|delete]"></div>
            <button class="btn btn-block btn-lg btn-navy-blue" ng-click="submitForm()" ng-disabled="bsnsCardForm.$invalid || pendingRequests">下一步</button>
        </div>
    </div>
    <div class="modal-footer mt10" ng-show="uploadType === 'dialog'">
        <button class="btn btn-dark btn-navy-gradient" ng-if="user.status === 'rejected'" ng-click="closeDialog({$event:$event, isConfirm: true})" ng-disabled="bsnsCardForm.$invalid || pendingRequests">确定</button>
        <button class="btn btn-dark btn-navy-gradient" ng-if="user.status === 'passed' || user.status === 'pended'" ng-click="submitForm()" ng-disabled="bsnsCardForm.$invalid || pendingRequests">确定</button>
        <button class="btn btn-gray" ng-click="closeDialog({$event:$event})">取消</button>
    </div>
</form>
