<form id="bsnsCardForm" novalidate name="bsnsCardForm" class="form-horizontal" kt-accessible-form>
    <div class="form-group" ng-class="{'has-error':bsnsCardForm.card_url.$invalid && bsnsCardForm.card_url.$dirty}">
        <div class="col-md-12">
            <div class="qrcode-bs-card text-center" ng-show="!user.card_url">
                <h5>手机扫描二维码上传：</h5>
                <div class="qrcode-body">
                    <div class="qrcode" kt-qr-code qrcode="qrcode"></div>
                    <div class="buttons upload">
                        <div class="btn btn-file" ng-class="{disabled: pendingUpload}">
                            <span>本地上传</span>
                            <input ngf-validate="{size: {max: '2MB'}" ngf-select="upload($files, $event)" ng-disabled="pendingUpload" accept="image/*" ngf-accept="'image/*'" ngf-pattern="'.jpg,.jpeg,.png,.bmp,.gif'" ngf-multiple="false" type="file" name="file" ng-model="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="qrcode-bs-card preview text-center" ng-show="user.card_url">
                <h5>已上传的名片：</h5>
                <div class="qrcode-body">
                    <img ng-src="{{user.card_url}}" alt="您的名片" class="qrcode">
                    <div class="buttons delete">
                        <button class="btn btn-file" ng-click="deleteCardUrl()">重新上传</button>
                    </div>
                </div>
            </div>
            <input type="hidden" required ng-model="user.card_url" class="form-control" name="card_url">
            <div class="mt5 text-warning" ng-messages="bsnsCardForm.card_url.$dirty && bsnsCardForm.card_url.$error">
                <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请上传名片</div>
            </div>
        </div>
    </div>
    <div class="form-group mt40" ng-show="uploadType === 'normal'">
        <div class="col-md-12 clfix">
            <div kt-loading-status height="32" width="32" ignores="/api/v1/shadows,/api/v1/cards[get|delete]"></div>
            <button class="btn btn-block btn-lg btn-navy-blue" ng-click="submitForm()" ng-disabled="bsnsCardForm.$invalid || pendingRequests">提交</button>
        </div>
    </div>
    <div class="modal-footer" ng-show="uploadType === 'dialog'">
        <button class="btn btn-dark btn-navy-gradient" ng-if="user.status === 'rejected'" ng-click="closeDialog({$event:$event, isConfirm: true})" ng-disabled="bsnsCardForm.$invalid || pendingRequests">确定</button>
        <button class="btn btn-dark btn-navy-gradient" ng-if="user.status === 'passed'" ng-click="submitForm()" ng-disabled="bsnsCardForm.$invalid || pendingRequests">确定</button>
        <button class="btn btn-gray" ng-click="closeDialog({$event:$event})">取消</button>
    </div>
</form>
