<div class="chart-table-heading clfix">
    <!-- 无搜索，无筛选 -->
    <div class="chart-table-title fl" ng-if="getFitlerStatus() === NORMAL_STATUS">
        总共<em ng-bind="summary.all_related.count || 0"></em>
        <span ng-if="summary.car_mortgage_related.count">个，车抵类
           <em ng-bind="summary.car_mortgage_related.count || 0">
        </em>
        </span>
        <span ng-if="summary.house_mortgage_related.count">个，房抵类
            <em  ng-bind="summary.house_mortgage_related.count || 0">
        </em>
        </span>
        <span ng-if="summary.cash_mortgage_related.count">个，现金贷类
           <em ng-bind="summary.cash_mortgage_related.count || 0">
        </em>
        </span>
        <span ng-if="summary.consume_mortgage_related.count">个，消费贷类
           <em ng-bind="summary.consume_mortgage_related.count || 0">
        </em>
        </span>
        <span ng-if="summary.other_mortgage_related.count">个，其它
           <em ng-bind="summary.other_mortgage_related.count || 0"></em>个
        </span>
    </div>
    <!-- 只有筛选 -->
    <div class="chart-table-title fl" ng-if="getFitlerStatus() === FILTER_STATUS">
        <div>总共<em ng-bind="summary.all_related.count || 0"></em>个</div>
    </div>
    <!-- 只要有搜索 -->
    <div class="chart-table-title fl" ng-if="getFitlerStatus() === SEARCH_STATUS">
        匹配到共<em ng-bind="summary.all_related.count || 0"></em>个项目<span ng-if="summary.search_results.length > '0'">，其中</span>
        <span ng-repeat="item in summary.search_results">
            <span ng-if="item.search_count">
                <span  ng-bind="::item.value"></span>相关
                <a ng-bind="::item.search_count" class="em is-link" ui-sref="pano.smallAssetsLists.table.list({'search_fields[]': item.name})" target="_blank">
                </a>个
                <i ng-if="$index < summary.search_results.length - 1">，</i>
            </span>
        </span>
    </div>
</div>
<div class="table-body institutions-list">
    <div class="table-kind bor-xxs">
        <div class="table-head" kt-table-sort>
            <!-- <div class="rank-bar fl clfix">
                <a ng-class="{'active': !search.sort_by}" class="sort-column" ng-click="bdTrack(['产品信息页', '默认排序', '排序'])" field="" title="点击按新增、更新、非新增和非更新排序">默认排序</a>
                <a class="sort-column" ng-click="bdTrack(['产品信息页', '按更新时间', '排序'])" field="updated_at" title="{{updatedAtSortTitle()}}">按更新时间
                    <i class="icon-pano icon-arrow-up"></i>
                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                </a>
                <a class="sort-column" ng-click="bdTrack(['产品信息页', '按年化收益率', '排序'])" field="rate" title="{{rateSortTitle()}}">按年化收益率
                    <i class="icon-pano icon-arrow-up"></i>
                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                </a>
                <a class="sort-column" ng-click="bdTrack(['产品信息页', '按募集规模', '排序'])" field="sum_amount" title="{{amountSortTitle()}}">按募集规模
                    <i class="icon-pano icon-arrow-up"></i>
                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                </a>
            </div>
            <div class="checkbox-bar">
                <label ng-click="bdTrack(['产品信息页', '点击' ,'只看新增'])">
                    <input type="checkbox" checklist-model='shared._params.created_or_updated_in' checklist-value="'1'">
                    <i class="icon-pano icon-checkbox"></i><i class="icon-pano icon-checkbox-checked"></i>只看新增
                </label>
                <label ng-click="bdTrack(['产品信息页', '点击' ,'只看更新'])">
                    <input type="checkbox" checklist-model='shared._params.created_or_updated_in' checklist-value="'2'">
                    <i class="icon-pano icon-checkbox"></i><i class="icon-pano icon-checkbox-checked"></i>只看更新
                </label>
            </div> -->
            <div class="tr">
                <div class="tr-body">
                    <table>
                        <colgroup>
                            <col width="15">
                            <col width="25">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                        </colgroup>
                        <tr>
                            <td>
                                <div class="td-caption">机构名称</div>
                            </td>
                            <td>
                                <div class="td-caption">资金类型
                                    <i class="icon-pano icon-info" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="资产类型表示小微类资产的各种类别，包括车抵类 、房抵类 、现金贷类 、消费贷类及其它。"></i>
                                </div>
                            </td>
                            <td>
                                <div class="td-caption sort-column" field="rate" title="{{rateSortTitle()}}">
                                    价格范围
                                    <i class="icon-pano icon-info" tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="价格范围为项目方可接受的资金成本范围"></i>
                                    <i class="icon-pano icon-arrow-up"></i>
                                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                                </div>
                            </td>
                            <td>
                                <div class="td-caption sort-column" field="amount" title="{{amountSortTitle()}}">
                                    预计规模
                                    <i class="icon-pano icon-arrow-up"></i>
                                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                                </div>
                            </td>
                            <td>
                                <div class="td-caption">详细介绍</div>
                            </td>
                            <td>
                                <div class="td-caption">资料</div>
                            </td>
                            <td>
                                <div class="td-caption sort-column" field="updated_at" title="{{dateSortTitle()}}">更新时间
                                    <i class="icon-pano icon-arrow-up"></i>
                                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                                </div>
                            </td>
                            <td>
                                <div class="td-caption">联系人</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="table-body">
            <div class="tr is-link" ng-repeat="institution in institutions" ng-if="institutions.length" ng-click="gotoDetail(institution)">
                <!-- <div class="tr-head tags">
                    <span ng-bind="institution.name"></span>
                    <span ng-if="institution.created_or_updated_in == '1'" class="tag tag-orange">新增</span>
                    <span ng-if="institution.created_or_updated_in == '2'" class="tag tag-green">更新</span>
                    <span class="update_time" ng-bind="'更新时间:'+institution.latest_uptime"></span>
                </div> -->
                <div class="tr-body">
                    <table>
                        <colgroup>
                            <col width="15">
                            <col width="25">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                            <col width="15">
                        </colgroup>
                        <tr>
                            <td>
                                <figure class="td-body text-center">
                                    <img class="inst-logo" ng-src="{{::institution.logo}}" :alt="::institution.name" />
                                    <figcaption ng-bind="::institution.name"></figcaption>
                                </figure>
                            </td>
                            <td>
                                <div class="td-body">
                                    <span ng-if="institution.finance_type.length" class="asset-inst-link" ng-repeat="(index, co_inst) in institution.finance_type" ng-bind="::(co_inst)"></span>
                                    <span ng-if="!institution.finance_type.length">-</span>
                                </div>
                            </td>
                            <td>
                                <div class="td-body" ng-bind="::institution.rate_range | ktNull"></div>
                            </td>
                            <td>
                                <div class="td-body" ng-bind="::institution.amount_range"></div>
                            </td>
                            <td>
                                <div class="td-body" ng-bind="::institution.desc | ktNull">
                                </div>
                            </td>
                            <td>
                                <div class="td-body" ng-if="institution.project_files.length" ng-repeat="project in institution.project_files">
                                    <a ng-click="$event.stopPropagation()" href="{{project.url}}" ng-bind="::project.name" target="_blank"></a>
                                </div>
                                <div ng-if="!institution.project_files.length">-</div>
                            </td>
                            <td>
                                <div class="td-body" ng-bind="::institution.updated_at"></div>
                            </td>
                            <td>
                                <div class="td-body use_mess">
                                    <i class="icon-pano icon-man">
                                        <div class="use_code">
                                            <p class="code_title">如您对该项目有意向或获取更多资料，请联系PANO微信小秘书：</p>
                                            <img  ng-src="{{institution.contract}}">
                                        </div>
                                    </i>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tr" ng-if="!institutions.length && !isLoading()">
                <div class="text-navy-blue text-center">
                    <i class="pe-7s-attention f1_5rem fb mr5"></i>
                    <span class="f1_5rem">没有机构列表</span>
                </div>
            </div>
        </div>
        <div class="table-foot text-center fixed-table-link" data-bottom="75">
            <div class="page-total-items">
                共<em ng-bind="shared._params.totalItems"></em>条记录
            </div>
            <div class="pagins">
                <uib-pagination total-items="shared._params.totalItems" items-per-page="shared.params.per_page" ng-change="pageChanged()" max-size="shared._params.maxSize" ng-model="shared.params.page" class="pagination-sm fixed-table-link"></uib-pagination>
                <div class="pagination-enhance">
                    <div class="en">共<span ng-bind="shared._params.totalPages"></span>页</div>
                    <div class="en">跳转到第
                        <input type="text" ng-model="shared._params.page" ng-keyup="pageGoto($event, 'page', shared._params.page)" />页
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
