<div class="row" child="hpanel">
    <div class="hpanel pr">
        <!-- <uib-tabset>
            <uib-tab select="tabSelect('pano.order.obligatoryRight', 0)" active="shared.tabActive.tab0">
                <tab-heading>
                    债权类
                </tab-heading>
            </uib-tab>
            <uib-tab select="tabSelect('pano.order.assetManage', 1)" active="shared.tabActive.tab1">
                <tab-heading>
                    资管类
                </tab-heading>
            </uib-tab>
        </uib-tabset> -->
        <div class="panel-body b-t-none">
            <div class="filter-box bor-xxs">
                <div class="normal-filter clfix" ng-class="{'expand': showMoreFilters}">
                    <div class="line clfix">
                        <div class="fl">
                            <div class="name fl">细分维度：</div>
                            <div class="dropdowns clfix">
                                <div class="dropdown" dropdown>
                                    <!-- is-open="shared.dimensions.isOpen" ng-mouseenter="shared.dimensions.isOpen = true" ng-mouseleave="shared.dimensions.isOpen = false" -->
                                    <div dropdown-toggle class="dropdown-toggle cp">
                                        <span ng-bind="getDimensionName()"></span>
                                        <div class="arrow">
                                            <i class="fa fa-angle-down icon-arrow fb f1_5rem"></i>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu animated fadeIn">
                                        <ul>
                                            <li ng-repeat="d in shared.dimensions" ng-class="{active: d.value == shared.params.dimension}">
                                                <a ng-click="goTo('dimension', d.value)" title="{{::d.name}}" ng-bind="::d.name"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fl datepicker-container" oc-lazy-load="['common/directives/datepicker/directive.js', 'common/directives/datepicker/theme/v4/style.css']">
                            <div class="name fl">时间范围：</div>
                            <input type="text" readonly class="datepicker" ng-model="datePicker" kt-date-picker datepicker-settings="datepickerSettings">
                            <i class="icon-pano icon-calendar picker-icon"></i>
                        </div>
                    </div>
                    <!-- <div class="right">
                        <a ng-click="showMoreFilters = !showMoreFilters" class="btn toggle-more-filters">
                            高级筛选<i class="fa fa-angle-right f1_5rem ml5 icon-arrow"></i>
                        </a>
                    </div> -->
                </div>
                <div class="filter-list">
                    <!-- 特殊处理的filter -平台，资产类型，挂牌场所，当前维度不在此行-->
                    <div class="filter-line clfix no-bd">
                        <div class="name">数据筛选：</div>
                        <div class="dropdowns clfix">
                            <div class="dropdown fl mr10 dropdown-conjoined" ng-repeat="(index,filter) in shared.specialFilters.data|filter:{active: false}" dropdown is-open="filter.isOpen" on-toggle="filter.onToggle(open)">
                                <!-- ng-mouseenter="filter.isOpen = true" ng-mouseleave="filter.isOpen = false" is-open="filter.isOpen"-->
                                <div dropdown-toggle class="dropdown-toggle cp">
                                    <span ng-bind="::filter.name"></span>
                                    <div class="arrow">
                                        <i class="fa fa-angle-down icon-arrow fb f1_5rem"></i>
                                    </div>
                                </div>
                                <div dropdown-menu class="dropdown-menu dropdown-menu-large animated fadeIn" ng-click="$event.stopPropagation()">
                                    <button class="btn btn-xs btn-navy-blue btn-confirm-filter" ng-click="::filter.applyAndUpdateUrl($event)">确定</button>
                                    <div class="checkbox-lines">
                                        <div class="section bd-b" ng-class="{'pb-none': filter.checkedItems.length}">
                                            <div class="line clfix">
                                                <div class="title">已选择：</div>
                                                <div class="checkboxes clfix" style="padding-right: 40px;">
                                                    <!-- <div class="checked-item" ng-show="filter.checkedAll">
                                                        全部
                                                    </div> -->
                                                    <div class="checked-item" ng-repeat="o in filter.checkedItems">
                                                        <span ng-bind="::o"></span>
                                                        <i class="pe-7s-close delete-item" ng-click="::filter.delCheckedItems($event,o)"></i>
                                                    </div>
                                                    <a ng-show="filter.checkedItems.length" class="fl" ng-click="::filter.clearChecked()">全部取消</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section" ng-if="::filter.options.recommend_options">
                                            <div class="line clfix">
                                                <div class="title pr1em">
                                                    热门
                                                </div>
                                                <div class="checkboxes clfix">
                                                    <div class="checkbox checkbox-sm checkbox-primary" ng-repeat="(i,o) in ::filter.options.recommend_options">
                                                        <input type="checkbox" id="chkbx_{{::index}}_ro_{{::i}}" ng-model="o.checked" name="chkbx_{{::index}}_ro_{{::i}}" ng-change="::filter.updateCheckedItems($event)">
                                                        <label for="chkbx_{{::index}}_ro_{{::i}}" ng-bind="::o.name"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="section">
                                            <!-- <div class="line clfix">
                                                <div class="title pr1em">
                                                    <div class="radio radio-sm radio-info radio-inline">
                                                        <input type="radio" id="checkAll{{$index}}" ng-model="filter.checkedAll" name="checkAll{{$index}}">
                                                        <label for="checkAll{{$index}}">全部</label>
                                                    </div>
                                                </div>
                                                <div class="checkboxed"></div>
                                            </div> -->
                                            <div class="line clfix" ng-repeat="(k, t) in ::filter.options" ng-if="k !== 'recommend_options'">
                                                <div class="title pr1em" ng-bind="::k">
                                                </div>
                                                <div class="checkboxes clfix">
                                                    <div class="checkbox checkbox-sm checkbox-primary" ng-repeat="(i,o) in ::t">
                                                        <input type="checkbox" id="chkbx_{{::index}}_{{::k}}_{{::i}}" ng-model="o.checked" name="chkbx_{{::index}}_{{::k}}_{{::i}}" ng-change="::filter.updateCheckedItems($event)">
                                                        <label for="chkbx_{{::index}}_{{::k}}_{{::i}}" ng-bind="::o.name"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 展示项（意思当前细分维度下，可以控制展示的条目） -->
                    <div class="filter-line clfix" ng-repeat="(index, filter) in shared.specialFilters.data|filter:{active: true}">
                        <div class="name">展示项：</div>
                        <div class="filter-items">
                            <div class="checkboxes clfix">
                                <div class="checked-item" ng-repeat="o in filter.realCheckedItems">
                                    <span ng-bind="::o"></span>
                                    <i ng-show="filter.realCheckedItems.length > 1" class="pe-7s-close delete-item" ng-click="::filter.delRealCheckedItems(o)"></i>
                                </div>
                                <a class="fl btn btn-navy-blue btn-xs m-t-n-xxs" ng-click="::filter.toggleDialog($event)">选择</a>
                                <div class="dialog-view" ng-show="filter.isOpen" kt-blank-click-hide on-close="filter.onClose()">
                                    <div class="dialog-head">
                                        <h3 class="text-center">展示项</h3>
                                        <button class="btn btn-navy-blue btn-xs" ng-click="::filter.applyAndUpdateUrl()">确定</button>
                                    </div>
                                    <div class="dialog-body">
                                        <div class="checkbox-lines">
                                            <div class="section bd-b" ng-class="{'pb-none': filter.checkedItems.length || filter.error}">
                                                <div class="line clfix">
                                                    <div class="title">已选择：</div>
                                                    <div class="checkboxes clfix" style="padding-right: 40px;">
                                                        <div class="checked-item error text-warning" ng-show="filter.error && !filter.checkedItems.length">
                                                            <i class="fa fa-frown-o fb mr5"></i>
                                                            <span ng-bind="filter.error"></span>
                                                        </div>
                                                        <div class="checked-item" ng-repeat="o in filter.checkedItems">
                                                            <span ng-bind="::o"></span>
                                                            <i class="pe-7s-close delete-item" ng-click="::filter.delCheckedItems($event,o)"></i>
                                                        </div>
                                                        <a ng-show="filter.checkedItems.length" class="fl" ng-click="::filter.clearChecked()">全部取消</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="section" ng-if="filter.options.recommend_options">
                                                <div class="line clfix">
                                                    <div class="title pr1em">
                                                        热门
                                                    </div>
                                                    <div class="checkboxes clfix">
                                                        <div class="checkbox checkbox-sm checkbox-primary" ng-repeat="(i,o) in filter.options.recommend_options">
                                                            <input type="checkbox" id="chkbx_d_{{::index}}_ro_{{::i}}" ng-model="o.checked" name="chkbx_d_{{::index}}_ro_{{::i}}" ng-change="filter.updateCheckedItems($event)">
                                                            <label for="chkbx_d_{{::index}}_ro_{{::i}}" ng-bind="::o.name"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="section">
                                                <div class="line clfix" ng-repeat="(k, t) in filter.options" ng-if="k !== 'recommend_options'">
                                                    <div class="title pr1em" ng-bind="::k">
                                                    </div>
                                                    <div class="checkboxes clfix">
                                                        <div class="checkbox checkbox-sm checkbox-primary" ng-repeat="(i,o) in t">
                                                            <input type="checkbox" id="chkbx_d_{{::index}}_{{::k}}_{{i}}" ng-model="o.checked" name="chkbx_d_{{::index}}_{{::k}}_{{i}}" ng-change="filter.updateCheckedItems($event)">
                                                            <label for="chkbx_d_{{::index}}_{{::k}}_{{i}}" ng-bind="::o.name"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 特殊处理的filter -平台，资产类型，挂牌场所-->
                    <!-- deprecated replaced by specialFilters -->
                    <!-- <div class="filter-line clfix" ng-repeat="filter in shared.filters">
                        <div class="name" ng-bind="::(filter.name + '：')"></div>
                        <div class="options" ng-if="filter.type === 'list'">
                            <ul class="options-list clfix">
                                <li ng-class="{active: condition.active}" ng-repeat="condition in filter.options|filter:filter.filterFn">
                                    <a ng-click="goTo(filter.value, condition.value)" title="{{::condition.name}}" ng-bind="::condition.name"></a>
                                </li>
                            </ul>
                            <div ng-if="!filter.filterFn.hidden" class="toggle-btn" ng-click="filter.toggleView($event)">
                                <i class="fa fa-angle-right f1_8rem icon-arrow"></i>
                            </div>
                        </div>
                        <div class="dropdowns clfix" ng-if="filter.type === 'dropdown'">
                            <div class="dropdown fl" dropdown>
                                <div dropdown-toggle class="dropdown-toggle cp">
                                    <span ng-bind="getConditionName(filter.value)"></span>
                                    <div class="arrow">
                                        <i class="fa fa-angle-down icon-arrow fb f1_5rem"></i>
                                    </div>
                                </div>
                                <div class="dropdown-menu animated fadeIn">
                                    <ul>
                                        <li ng-repeat="condition in ::filter.options" ng-class="{active: condition.active}">
                                            <a ng-click="goTo(filter.value, condition.value)" title="{{::condition.name}}" ng-bind="::condition.name"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div ui-view>
            </div>
            <div class="mt30">
                <p class="footer-notes f1_2rem lh1_8em text-placeholder">
                    *市场数据覆盖互联网金融平台的活期产品、票据产品以及定期或固收产品，不包括P2P产品、私募基金产品和转让产品。
                    <br>展示产品分为资产类和资管类。资产类是产品成立时即对应具体投资标的或指向特定融资人的产品。资管类是由特定管理人主动管理，产品发行无明确限额的灵活期限产品。
                    <br> 本页面参与图形计算和展示的为资产类。参与表格计算和展示的为资管类。
                </p>
            </div>
        </div>
    </div>
</div>
