<div class="asset-crumb">
    <div class="crumb-title">
        <ul>
            <li class="li-style">
                <a href="">产品信息</a>
            </li>
            <li class="li-style">
                <a href=""> 资管类</a>
            </li>
            <li class="li-style">
                <a href="" ng-bind="productManage.form"></a>
            </li>
            <li class="li-style">
                <a href="" ng-bind="productManage.name"></a>
            </li>
        </ul>
    </div>
    <div class="asset-body">
        <div class="asset-content">
            <div class="asset-content-top">
                <div class="product-name" ng-bind="productManage.name"></div>
                <div class="product-data">
                    <div class="product-data-one">
                        <ul>
                            <li>
                                <div>
                                    <span>发行平台:</span>
                                    <em><a href="" ng-bind="productManage.form"></a></em>
                                </div>
                                <div>
                                    <span>产品期限:</span>
                                    <em ng-bind="productManage.lives"></em>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>管理机构:</span>
                                    <em ng-bind="productManage.manage_institution"></em>
                                </div>
                                <div>
                                    <span>年化收益率:</span>
                                    <em ng-bind="productManage.rate"></em>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>管理人类型:</span>
                                    <em ng-bind="productManage.manager_type"></em>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="product-data-two">
                        <div class="return-rate">各期限收益率情况</div>
                        <div class="product-table-all">
                            <div ng-repeat="termRate in termRates" class="partition">
                                <div class="product-table" ng-if="!termRate.empty">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>产品期限</th>
                                                <th>年化收益率</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr-data">
                                                <td><a href="" ng-bind="termRate.life"></a></td>
                                                <td ng-bind="termRate.rate"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="product-table product-seize" ng-if="termRate.empty">
                                    <span class="seize"></span>
                                </div>
                            </div>
                    </div>
                    <div class="product-data-three">
                        <div class="manage-profit">各期限收益率图</div>
                        <div class="manage-chart"></div>
                    </div>
                </div>
            </div>
            <div class="product-data-four">
                        <span>产品说明书：</span>
                        <a class="product-button" ng-href="{{productManage.attachment_url}}">下载</a>
                    </div>
            <div class="product-chart">
                <!-- 日募集情况 -->
                <div class="chart-title">
                    <div class="raise-status">日募集情况</div>
                    <span class="myspan">日均募集规模：
                      <em>1,300万元</em>
                  </span>
                    <span class="myspan">最高募集量：
                      <em>900万元</em>
                  </span>
                    <span class="myspan">最低募集量：
                      <em>500万元</em>
                  </span>
                    <div class="chart-date">
                        <input type="text" class="datepicker ng-pristine ng-untouched ng-valid" ng-model="datepicker" kt-date-picker datepicker-settings="datepickerSettings">
                        <i class="icon-pano icon-calendar picker-icon"></i>
                    </div>
                </div>
                <div class="product-echarts"></div>
                <div class="more-data">
                    <a href="" ng-click="alertCode()">全部数据</a>
                </div>
            </div>
            <!-- 发行平台 -->
            <div class="release-platform">
                <div class="release-title">发行平台</div>
                <article class="box init-main-info">
                    <div class="box-body">
                        <div class="clfix">
                            <div class="logo">
                                <a ng-href="{{inst.website}}" target="_blank"><img ng-src="{{inst.img_url}}" alt="机构logo"></a>
                            </div>
                            <div class="main">
                                <h3 ng-bind="inst.name"></h3>
                                <p class="desc">
                                    <span ng-show="inst.descObj.isTruncate" ng-bind="inst.descObj.value | ktNull"></span>
                                    <span ng-show="!inst.descObj.isTruncate" ng-bind="inst.from_introduce | ktNull"></span>
                                    <a ng-if="inst.descObj.showToggleBtn" class="ml5 tu" ng-click="inst.descObj.isTruncate = !inst.descObj.isTruncate">
                                        <span ng-show="inst.descObj.isTruncate">更多</span>
                                        <span ng-show="!inst.descObj.isTruncate">收起</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="lines">
                            <section class="line" ng-show="inst.business_model">
                                <div class="name">业务模式：</div>
                                <div class="value">
                                    <ul class="list">
                                        <li>
                                            <span ng-bind="inst.business_model"></span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="line" ng-show="inst.asset_types.length">
                                <div class="name">已发产品资产类型：</div>
                                <div class="value">
                                    <ul class="list">
                                        <li ng-repeat="at in inst.asset_types track by $index">
                                            <span ng-bind="at"></span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <div class="more-data"><a href="">更多</a></div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- 挂牌场所 -->
            <!-- 相似产品 -->
            <div class="similar-product">
                <div class="release-title">相似产品</div>
                <div class="carousel">
                    <div kt-product-carousel similars="similars"></div>
                </div>
            </div>
        </div>
    </div>
</div>
