<div class="row" child="hpanel">
    <div class="hpanel pr has-tabs">
        <uib-tabset>
            <uib-tab select="tabSelect('pano.products.obligatoryRight')" active="shared.tabActive.tab0">
                <tab-heading>
                    资产类
                </tab-heading>
            </uib-tab>
            <uib-tab select="tabSelect('pano.products.assetManage')" active="shared.tabActive.tab1">
                <tab-heading>
                    资管类
                </tab-heading>
            </uib-tab>
        </uib-tabset>
        <div class="panel-body b-t-none">
            <div class="filter-box bor-xxs">
                <div class="filter-list has-toggle-btn">
                    <div class="filter-line clfix" ng-repeat="filter in shared.filters">
                        <div class="name" ng-bind="::(filter.name + '：')"></div>
                        <div class="options" ng-if="filter.type === 'list'">
                            <ul class="options-list">
                                <li ng-class="{active: condition.active}" ng-repeat="condition in filter.options|filter:filter.filterFn">
                                    <a ng-click="goTo(filter.value, condition.value)" ng-bind="condition.name"></a>
                                </li>
                            </ul>
                            <div ng-if="!filter.filterFn.hidden" class="toggle-btn" ng-click="filter.toggleView($event)">
                                <i class="fa fa-angle-right f1_8rem icon-arrow"></i>
                            </div>
                        </div>
                        <div class="dropdowns clfix" ng-if="filter.type === 'dropdown'">
                            <div class="dropdown fl" dropdown>
                                <div dropdown-toggle class="dropdown-toggle cp">
                                    <span ng-bind="getConditionName(filter.value)"></span>
                                    <b class="fa fa-angle-down icon-arrow fb f1_5rem"></b>
                                </div>
                                <div class="dropdown-menu animated fadeIn">
                                    <ul>
                                        <li ng-repeat="condition in filter.options" ng-class="{active: condition.active}">
                                            <a ng-click="goTo(filter.value, condition.value)" title="{{condition.name}}" ng-bind="condition.name"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ov-h">
                <div class="chart-table bor-xxs">
                    <div class="chart-table-heading clfix">
                        <div class="chart-table-title fl">本日<span class="text-warning-light f1_2em pr2 pl2" ng-bind="shared.today_added_count"></span>条产品更新</div>
                        <div class="fr text-placeholder">*按产品更新时间逆序排列</div>
                    </div>
                    <div class="table-responsive table-body" fixed-bottom="124" fixed-link="fixed-table-link" ui-view>
                    </div>
                </div>
                <div>
                    <div class="text-center fixed-table-link" data-bottom="75">
                        <uib-pagination total-items="shared.params.totalItems" items-per-page="shared.params.per_page" ng-change="pageChanged()" max-size="shared.params.maxSize" ng-model="shared.params.page" class="pagination-sm fixed-table-link"></uib-pagination>
                    </div>
                </div>
            </div>
            <div>
                <div class="mt30 fixed-table-link" data-bottom="10">
                    <p class="footer-notes  f1_2rem lh1_8em text-placeholder">*产品信息覆盖互联网金融平台的活期产品以及定期或固收产品，不包括票据产品、P2P产品、私募基金产品和转让产品。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
