<div class="chart-table-heading clfix">
    <!-- 无搜索，无筛选 -->
    <div class="chart-table-title fl" ng-if="getFitlerStatus() === NORMAL_STATUS">
        本日新增<em ng-bind="::summary.bond.product_increasement"></em>条产品，更新<em ng-bind="::summary.bond.product_updated"></em>条产品，总新增发行量<em ng-bind="::(summary.bond.circulation_increasement / 10000) | ktNumber:0"></em>万元
    </div>
    <!-- 只有筛选 -->
    <div class="chart-table-title fl" ng-if="getFitlerStatus() === FILTER_STATUS">
        匹配到<em ng-bind="::summary.find.count"></em>条产品，其中新增<em ng-bind="::summary.bond.product_increasement"></em>条，更新<em ng-bind="::summary.bond.product_updated"></em>条
    </div>
    <!-- 只要有搜索 -->
    <div class="chart-table-title fl" ng-if="getFitlerStatus() === SEARCH_STATUS">
        匹配到共<em ng-bind="::summary.find.count"></em>条相关产品，其中
        <span ng-repeat="item in summary.find.search_results">
            <span ng-bind="::item.value"></span>相关<em ng-bind="::item.search_count" class="is-link" ng-click="searchTabClick(item.name)"></em>条，
        </span>
    </div>
    <div ng-if="getFitlerStatus() === NORMAL_STATUS" class="fr text-placeholder">*原始产品新增<em ng-bind="::summary.bond.origin_product_increasement"></em>条，更新<em ng-bind="::summary.bond.origin_product_updated"></em>条<i tooltip-append-to-body="true" tooltip-placement="left" uib-tooltip="原始产品指互金平台发行的产品。" class="icon-pano icon-info f1_2rem ml5"></i></div>
</div>
<div class="table-body">
    <div class="table-kind bor-xxs">
        <div class="table-head" kt-table-sort>
            <div class="rank-bar fl clfix">
                <a ng-class="{'active': !search.sort_by}" class="sort-column" field="">默认排序</a>
                <a class="sort-column" field="updated_at">按更新时间
                    <i class="icon-pano icon-arrow-up"></i>
                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                </a>
                <a class="sort-column" field="rate">按年化收益率
                    <i class="icon-pano icon-arrow-up"></i>
                    <i class="icon-pano icon-arrow-up icon-arrow-up-reverse"></i>
                </a>
            </div>
            <div class="checkbox-bar">
                <label>
                    <input type="checkbox" checklist-model='shared.params.created_or_updated_in' checklist-value="'1'">
                    <i class="icon-pano icon-checkbox"></i><i class="icon-pano icon-checkbox-checked"></i>只看新增
                </label>
                <label>
                    <input type="checkbox" checklist-model='shared.params.created_or_updated_in' checklist-value="'2'">
                    <i class="icon-pano icon-checkbox"></i><i class="icon-pano icon-checkbox-checked"></i>只看更新
                </label>
            </div>
        </div>
        <div class="table-body">
            <div class="tr" ng-repeat="product in products" ng-if="products.length" ng-click="gotoDetail(product)">
                <div class="tr-head tags">
                    <span ng-bind="product.name"></span>
                    <span ng-if="product.created_or_updated_in === '1'" class="tag tag-orange">新增</span>
                    <span ng-if="product.created_or_updated_in === '2'" class="tag tag-green">更新</span>
                </div>
                <div class="tr-body">
                    <table>
                        <tr>
                            <td>
                                <div class="td-caption">
                                    产品期限
                                </div>
                                <div class="td-body" ng-bind="::product.life | ktNull"></div>
                            </td>
                            <td>
                                <div class="td-caption">
                                    年化收益率
                                </div>
                                <div class="td-body" ng-bind="::product.rate | ktNull"></div>
                            </td>
                            <td>
                                <div class="td-caption">
                                    募集规模
                                </div>
                                <div class="td-body" ng-bind="::product.sum_amount | ktNumberLocate | ktNull"></div>
                            </td>
                            <td>
                                <div class="td-caption">
                                    产品类型
                                </div>
                                <div class="td-body" ng-bind="::product.type | ktNull"></div>
                            </td>
                            <td>
                                <div class="td-caption">
                                    资产类型
                                </div>
                                <div class="td-body" ng-bind="::product.asset_type | ktNull"></div>
                            </td>
                            <td>
                                <div class="td-caption">
                                    平台
                                </div>
                                <div class="td-body">
                                    <a ng-click="$event.stopPropagation()" ng-if="::product.from" ng-bind="product.from | ktNull" ui-sref="pano.institutions.detail({id: product.from, dimension: 'from'})"></a>
                                    <span ng-if="!product.from">-</span>
                                </div>
                            </td>
                            <td>
                                <div class="td-caption">
                                    挂牌场所
                                </div>
                                <div class="td-body">
                                    <a ng-click="$event.stopPropagation()" ng-if="product.exchange !== '不适用'" ng-bind="::product.exchange | ktNull" ui-sref="pano.institutions.detail({id: product.exchange, dimension: 'mapped_exchange'})"></a>
                                    <span ng-if="product.exchange === '不适用'">不适用</span>
                                </div>
                            </td>
                            <td>
                                <div class="td-caption">
                                    累计募集条数
                                </div>
                                <div class="td-body" ng-bind="::product.sum_count | ktNull | ktAppend:'条'"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tr" ng-if="!products.length && !isLoading()">
                <div class="text-navy-blue text-center">
                    <i class="pe-7s-attention f1_5rem fb mr5"></i>
                    <span class="f1_5rem">近期未发布新产品</span>
                </div>
            </div>
        </div>
        <div class="table-foot text-center fixed-table-link" data-bottom="75">
            <div class="page-total-items">
                共<em ng-bind="shared._params.totalItems"></em>条记录
            </div>
            <div class="pagins">
                <uib-pagination total-items="shared._params.totalItems" items-per-page="shared.params.per_page" ng-change="pageChanged()" max-size="shared._params.maxSize" ng-model="shared.params.page" class="pagination-sm fixed-table-link"></uib-pagination>
                <div class="pagination-enhance">
                    <div class="en">共<span ng-bind="shared._params.totalPages"></span>页</div>
                    <div class="en">跳转到第
                        <input type="text" ng-model="shared._params.page" ng-keyup="pageGoto($event, 'page', shared._params.page)" />页
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="table-responsive table-body" fixed-bottom="124" fixed-link="fixed-table-link">
    <table class="table table-striped table-hover">
        <thead>
            <tr kt-table-sort>
                <th>标准名</th>
                <th class="sort-column" field="life_days">
                    <span>产品期限</span>
                    <div class="sort-icons">
                        <i class="up fa-angle-up fa"></i>
                        <i class="down fa-angle-down fa"></i>
                    </div>
                </th>
                <th class="sort-column" field="rate">
                    <span>年化收益率</span>
                    <div class="sort-icons">
                        <i class="up fa-angle-up fa"></i>
                        <i class="down fa-angle-down fa"></i>
                    </div>
                </th>
                <th>募集金额</th>
                <!~~ <th>剩余金额</th> ~~>
                <th class="sort-column" field="value_date">
                    <span>起息日</span>
                    <div class="sort-icons">
                        <i class="up fa-angle-up fa"></i>
                        <i class="down fa-angle-down fa"></i>
                    </div>
                </th>
                <th>平台</th>
                <th>产品类型</th>
                <th>资产类型</th>
                <th>挂牌场所</th>
                <th>增信措施</th>
                <th>产品说明书</th>
                <!~~ <th>当前状态</th> ~~>
            </tr>
        </thead>
        <tbody>
            <tr class="text-right" ng-repeat="product in products" ng-if="products.length">
                <td ng-class="{'text-left': product.name}" ng-bind="::product.name | ktNull"></td>
                <td ng-bind="::getLife(product.life)|ktEclipsis:4" title="{{::getLife(product.life)}}"></td>
                <td ng-bind="::product.rate | ktNumber:2:'percent2'"></td>
                <td ng-bind="::product.sum_amount | ktNumberLocate"></td>
                <!~~ <td ng-bind="::product.selling_amount | ktNumberLocate"></td> ~~>
                <td ng-bind="::(product.value_date | ktNull | date:'yyyy-MM-dd')"></td>
                <td>
                    <a ng-if="product.from" ui-sref="pano.institutions.detail({id: product.from, dimension: 'from'})" ng-bind="::product.from | ktNull" target="_blank"></a>
                    <span ng-if="!product.from">-</span>
                </td>
                <td ng-bind="::product.type | ktNull"></td>
                <td ng-bind="::product.asset_type | ktEclipsis:25" title="{{::product.asset_type | ktNull}}"></td>
                <td class="text-left">
                    <a ng-if="product.exchange !== '不适用'" ui-sref="pano.institutions.detail({id: product.exchange, dimension: 'mapped_exchange'})" ng-bind="::product.exchange" target="_blank"></a>
                    <span ng-if="product.exchange === '不适用'">不适用</span>
                </td>
                <td ng-class="{'text-left': product.trust_party}" ng-bind="::product.trust_party | ktEclipsis:25" title="{{::product.trust_party}}"></td>
                <td>
                    <a ng-if="product.attachment_url" class="hover-underline" target="_blank" href="{{::product.attachment_url}}">下载资料</a>
                    <span ng-if="!product.attachment_url">-</span>
                </td>
                <!~~ <td>
                    <span ng-bind="::getStatusName(product.status)"></span>
                </td> ~~>
            </tr>
            <tr ng-if="!products.length && !isLoading()">
                <td colspan="11" class="text-navy-blue text-center">
                    <i class="pe-7s-attention f1_5rem fb mr5"></i>
                    <span class="f1_5rem">近期未发布新产品</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>-->
