<div class="asset-crumb">
    <div class="crumb-title">
        <ul>
            <li class="li-style">
                <a href="" ui-sref="pano.products.obligatoryRight">产品信息</a>
            </li>
            <li class="li-style">
                <a href="" ui-sref="pano.products.assetManage">资管类</a>
            </li>
            <li class="li-style">
                <a href="" ng-bind="productManage.from" ui-sref="pano.products.assetManage({from_eq:assetsDatas.from})"></a>
            </li>
            <li class="li-style">
                <a href="" ng-bind="productManage.name"></a>
            </li>
        </ul>
    </div>
    <div class="asset-body">
        <div class="asset-content">
            <div class="asset-content-top">
                <div class="product-name" ng-bind="productManage.name"></div>
                <div class="product-data">
                    <div class="product-data-one">
                        <ul>
                            <li>
                                <div>
                                    <span>发行平台:</span>
                                    <em class="text-color" ng-bind="productManage.from | ktNull" ui-sref="pano.products.assetManage({from_eq:assetsDatas.from})"> </em>
                                </div>
                                <div>
                                    <span>产品期限:</span>
                                    <em ng-bind="productManage.lives | ktNull"></em>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>管理机构:</span>
                                    <em ng-bind="productManage.manage_institution | ktNull"></em>
                                </div>
                                <div>
                                    <span>年化收益率:</span>
                                    <em ng-bind="productManage.rate | ktNull"></em>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span>管理人类型:</span>
                                    <em ng-bind="productManage.manager_type | ktNull"></em>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="product-data-two" ng-if="partitions.length">
                        <div class="return-rate">各期限收益率情况</div>
                        <div class="product-table-all">
                            <div ng-repeat="partition in partitions" class="partition">
                                <div class="product-table" ng-if="!partition.empty">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>产品期限</th>
                                                <th>年化收益率</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-tr-data">
                                                <td class="first-td" ng-bind="partition.life"></td>
                                                <td ng-bind="partition.rate | ktNumber:2:'percent2'"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="product-table product-seize" ng-if="partition.empty">
                                    <span class="seize"></span>
                                </div>
                            </div>
                        </div>
                        <div class="product-data-three">
                            <div class="manage-profit">各期限收益率图</div>
                            <div class="manage-chart">
                                <div id="durationRateChart" kt-echart chart-options="durationRateChart.chartOptions" style="height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="product-data-four">
                    <span>产品说明书：</span>
                    <a class="product-button" ng-href="{{productManage.attachment_url}}">下载</a>
                </div> -->
                <div class="product-chart">
                    <!-- 产品收益率趋势 -->
                    <div class="chart-title">
                        <div class="raise-status">产品收益率趋势</div>
                        <div class="chart-date">
                            <input type="text" class="datepicker ng-pristine ng-untouched ng-valid" ng-model="datePicker" kt-date-picker datepicker-settings="datepickerSettings">
                            <i class="icon-pano icon-calendar picker-icon"></i>
                        </div>
                    </div>
                    <div class="product-echarts">
                        <div class="chart-head clfix">
                            <div class="chart-head-item">产品最早收录时间：<span ng-bind="productManage.begin_date"></span></div>
                            <div class="chart-head-item">产品最新发行时间：<span ng-bind="productManage.last_date"></span></div>
                        </div>
                        <div id="productRateTrend" kt-echart chart-options="productRateTrend.chartOptions" style="height:400px;">
                        </div>
                    </div>
                    <div class="all-data">
                        <a href="" ng-click="alertCode()">全部数据</a>
                    </div>
                </div>
            </div>
            <!-- 发行平台 -->
            <div class="release-platform" ng-if="inst">
                <div class="release-title">发行平台</div>
                <article class="box init-main-info">
                    <div class="box-body">
                        <div class="clfix">
                            <div class="logo">
                                <a ui-sref="pano.institutions.detail({id:inst.name,dimension:'from'})" ng-href="{{inst.website}}" target="_blank"><img ng-src="{{inst.img_url}}" alt="机构logo"></a>
                            </div>
                            <div class="main">
                                <h3 ng-bind="inst.name"></h3>
                                <p class="desc">
                                    <span ng-show="inst.descObj.isTruncate" ng-bind="inst.descObj.value | ktNull"></span>
                                    <span ng-show="!inst.descObj.isTruncate" ng-bind="inst.from_introduce | ktNull"></span>
                                    <a ng-if="inst.descObj.showToggleBtn" class="ml5 tu" ng-click="inst.descObj.isTruncate = !inst.descObj.isTruncate">
                                        <span ng-show="inst.descObj.isTruncate">更多</span>
                                        <span ng-show="!inst.descObj.isTruncate">收起</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="lines">
                            <section class="line" ng-show="inst.business_model">
                                <div class="name">业务模式：</div>
                                <div class="value">
                                    <ul class="list">
                                        <li>
                                            <span ng-bind="inst.business_model | ktNull"></span>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <div class="more-data"><a href="" ui-sref="pano.institutions.detail({id:inst.name,dimension:'from'})">更多</a></div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- 挂牌场所 -->
            <!-- 相似产品 -->
            <div class="similar-product" ng-if="similars.length">
                <div class="release-title">相似产品</div>
                <div class="carousel">
                    <div kt-product-carousel similars="similars"></div>
                </div>
            </div>
        </div>
    </div>
</div>
