<table class="table table-striped table-hover">
    <thead>
        <tr kt-table-sort>
            <th>资产名称</th>
            <th>资产类型</th>
            <th>
                <span>年化收益率</span>
                <!-- <div class="sort-icons">
                    <i class="up fa-angle-up fa"></i>
                    <i class="down fa-angle-down fa"></i>
                </div> -->
            </th>
            <th>期限</th>
            <th>增信方式</th>
            <th>预计上线时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-right" ng-repeat="asset in assets" ng-if="assets.length">
            <td ng-bind="::asset.name | ktNull"></td>
            <td ng-bind="::asset.asset_type | ktNull"></td>
            <td ng-bind="::(asset.rate | ktNull | ktNumber:2:'percent2')"></td>
            <td ng-bind="::asset.sustained | ktNull"></td>
            <td ng-bind="::asset.guarantees | ktNull"></td>
            <td ng-bind="::getPublishDate(asset.published_start_at, asset.published_end_at)"></td>
            <td ng-bind="::getStatus(asset.status)" ng-class="{'text-warning-light': product.status == '已发布'}"></td>
            <td class="text-center">
                <a class="hover-underline" href="{{::asset.attachment_url}}">下载资料</a>
                <a class="hover-underline" ng-click="contactMe(asset.id)">与我联系</a>
            </td>
        </tr>
        <tr ng-if="!assets.length && !isLoading()">
            <td colspan="8" class="text-navy-blue text-center">
                <i class="pe-7s-attention f1_5rem fb mr5"></i>
                <span class="f1_5rem">没有数据！</span>
            </td>
        </tr>
    </tbody>
</table>
