<div id="fullpage" kt-full-page kt-feedback-destroy page-settings="fullPageSettings">
    <section class="section section-1" kt-animate-panel child="animated" delay="0" effect="fadeInUp" out-effect="fadeOutUp" emit-by-event="fullPageSlide.1">
        <div class="text-center">
            <div class="img-pano-container">
                <img src="/images/pano.svg" class="img-responsive center-block pano-svg animated" delay="0.1">
            </div>
            <hr class="center-block line animated" delay="0.2" effect="zoomIn">
            <p class="center-block content animated" delay="0.3">开通PANO是互联网资管理财市场的金融产品信息与交易服务平台。能为您提供最新、最全、最优的金融资产信息披露，数据可视化、主题报告等服务。</p>
            <div class="buttons animated" delay="0.4">
                <a ui-sref="account.login" class="login btn">登 录<i class="fa fa-angle-right ml10"></i></a>
                <a ui-sref="account.register" class="register btn">立即注册<i class="fa fa-angle-right ml10"></i></a>
            </div>
        </div>
    </section>
    <section class="section section-2" kt-animate-panel child="animated" delay="0" effect="fadeInUp" out-effect="fadeOutUp" emit-by-event="fullPageSlide.2">
        <div class="container clfix">
            <div class="left">
                <img src="/images/earth.svg" delayed="0.1" class="animated earth fl img-responsive center-block" alt="">
            </div>
            <div class="right text-right">
                <div class="inner">
                    <h2 class="animated" delayed="0.2"><img src="/images/cloud.svg" class=" cloud" alt="">主流平台 全面覆盖</h2>
                    <p class="animated" delayed="0.3">海量整合国内主流互金平台，跟踪金融资产的发行及交易信息，<br/>为用户提供开放性的交易机会。</p>
                </div>
                <img src="/images/three_cloud.svg" alt="" delayed="0.4" class="animated three_cloud img-responsive">
            </div>
        </div>
    </section>
    <section class="section section-3">
        <div class="text-center">
            <h2><img src="/images/network.svg" alt="" class="network">智能分析 最快发布</h2>
            <div class="rect">
                <p>对金融产品提供最及时报价，并智能分析提取最优价格，帮助用户第一时间决策、抢占先机。</p>
            </div>
        </div>
    </section>
    <section class="section section-4">Some section4</section>
</div>
