<div id="fullpage" kt-feedback-destroy class="fzltxianh">
    <section class="section section-1" kt-full-screen kt-animate-panel child="animated" delay="0" effect="fadeInUp" out-effect="fadeOutUp">
        <div class="container text-center">
            <div class="img-pano-container">
                <img src="/images/pano.svg" class="img-responsive center-block pano-svg animated" delay="0.1">
            </div>
            <hr class="center-block line animated" delay="0.2" effect="zoomIn">
            <h1 class="center-block title animated" delay="0.3">主流平台全面覆盖  市场信息实时获取</h1>
            <div class="buttons animated" delay="0.4">
                <!-- <a ui-sref="account.login" class="login btn">登 录<i class="fa fa-angle-right ml10"></i></a> -->
                <a ui-sref="account.register" class="register btn">立即注册</a>
            </div>
        </div>
        <canvas id="myCanvas" resize height="100%" width="100%"></canvas>
    </section>
    <section class="section section-2" kt-animate-panel child="animated" delay="0" effect="fadeInUp" out-effect="fadeOutUp">
        <div class="container clfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="inner">
                        <h2 class="animated" delayed="0.2">
                            <span class="title">全景呈现</span><i class="icon-pano icon-cloud"></i>
                        </h2>
                        <p class="cont">汇集国内主流互金平台金融产品发行信息，助您快速全面了解市场最新数据，解除您逐日跟踪各大平台的烦恼。</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/section_2.png" delayed="0.1" class="animated earth img-responsive center-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-3">
        <div class="container clfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/section_3.png" delayed="0.1" class="animated earth img-responsive center-block" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inner right">
                        <h2 class="animated" delayed="0.2">
                            <span class="title">贴身资产服务</span><i class="icon-pano icon-person_rect"></i>
                        </h2>
                        <p class="cont">开通<span class="en">PANO</span>与多家优质资产机构合作，精心挑选多品种的可售金融资产及资管产品。为您提供稳定便捷的资产获取渠道和专业的后续交易服务。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-4">
        <div class="container clfix">
            <div class="row">
                <div class="col-md-6">
                    <div class="inner">
                        <h2 class="animated" delayed="0.2">
                            <span class="title">让数据说话</span><i class="icon-pano icon-search"></i>
                        </h2>
                        <p class="cont">开通<span class="en">PANO</span>让您对市场数据的分析变得异常简单。灵活的自定义筛选、多维度的数据透视、丰富的可视化工具帮助您从市场数据中获取更深刻的洞察力。</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="/images/section_4.png" delayed="0.1" class="animated earth img-responsive center-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-5">
        <div class="buttons text-center">
            <a ui-sref="account.register" class="register btn">立即注册 <span class="en">PANO</span></a>
        </div>
    </section>
</div>
<!-- 光效制作 -->
<!-- <script src="/common/libs/paper-core.min.js"></script>
<script src="/common/libs/sunshine.js"></script>
 -->