<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" ng-bind="title"></h4>
    </div>
    <form name="tagPopForm" novalidate kt-autofill-submit class="form-horizontal" method="post" id="tagPopForm" kt-submit="submitForm()">
        <div class="modal-body ov-h">
            <div class="form-group" ng-class="{'has-error':tagPopForm.name.$invalid && tagPopForm.name.$dirty}">
                <label class="text-primary-dark control-label col-md-4">标签名称</label>
                <div class="col-md-7">
                    <input placeholder="自定义标签名称" type="text" ng-required="true" ng-model="tag.name" class="form-control fl" name="name">
                    <div class="mt5 cbs text-warning" ng-messages="tagPopForm.name.$dirty && tagPopForm.name.$error">
                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入自定义标签</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-4 text-warning cbs" ng-show="!!error">
                    <i class="fa fa-frown-o fb mr5"></i>
                    <span ng-bind="error"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-dark btn-navy-gradient" ng-disabled="pendingRequests">提交</button>
            <button class="btn btn-gray" ng-click="cancel($event)">取消</button>
        </div>
    </form>
</div>
