<form id="preferForm" novalidate name="preferForm" class="form-horizontal" kt-accessible-form>
    <!-- 业务偏好选择 -->
    <div class="form-group" ng-class="{'has-error':preferForm.businessType.$invalid && preferForm.businessType.$dirty}">
        <label class="text-primary-dark text-left fn col-md-12 mt10">业务角色<small>最多选择2个</small></label>
        <div class="col-md-12 mt15">
            <div ng-show="!userInfo.business_types.all.length">加载中...</div>
            <div class="checkbox-label" ng-repeat="business_type in userInfo.business_types.all" ng-class="{'custom-tag': business_type.customized}">
                <input id="{{'business_type_' + business_type.id}}" type="checkbox" checklist-model="user.business_types" checklist-value="business_type.id">
                <label for="{{'business_type_' + business_type.id}}">
                    <span ng-bind="::business_type.name"></span>
                    <i class="icon-pano icon-add" ng-click="deleteCustomBusinessType($event, business_type.id)"></i>
                </label>
            </div>
            <a class="btn btn-add fl" ng-show="!businessTypesHasCustomTag()" ng-click="customBusinessType()">
                <i class="icon-pano icon-plus"></i>
            </a>
            <input type="hidden" name="businessType" ng-model="hasBusinessType" kt-checklist-length="2">
            <div class="mt5 text-warning cbs" ng-messages="preferForm.businessType.$dirty && preferForm.businessType.$error">
                <!-- <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请选择您关注的业务偏好</div> -->
                <div ng-message="ktChecklistLength"><i class="fa fa-frown-o fb mr5"></i>偏好资产不能超过2个</div>
            </div>
        </div>
    </div>
    <!-- 偏好资产选择 -->
    <div class="form-group" ng-class="{'has-error':preferForm.assetType.$invalid && preferForm.assetType.$dirty}">
        <label class="text-primary-dark text-left fn col-md-12 mt10">偏好资产<small>最多选择3个</small></label>
        <div class="col-md-12 mt15">
            <div ng-show="!userInfo.asset_types.all.length">加载中...</div>
            <div class="checkbox-label" ng-repeat="asset_type in userInfo.asset_types.all" ng-class="{'custom-tag': asset_type.customized}">
                <input id="{{'asset_type_' + asset_type.id}}" type="checkbox" checklist-model="user.asset_types" checklist-value="asset_type.id">
                <label for="{{'asset_type_' + asset_type.id}}">
                    <span ng-bind="::asset_type.name"></span>
                    <i class="icon-pano icon-add" ng-click="deleteCustomAssetType($event, asset_type.id)"></i>
                </label>
            </div>
            <a class="btn btn-add fl" ng-show="!assetTypesHasCustomTag()" ng-click="customAssetType()">
                <i class="icon-pano icon-plus"></i>
            </a>
            <input type="hidden" name="assetType" ng-model="hasAssetType" kt-checklist-length="3">
            <div class="mt5 text-warning cbs" ng-messages="preferForm.assetType.$dirty && preferForm.assetType.$error">
                <!-- <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请选择您关注的偏好资产</div> -->
                <div ng-message="ktChecklistLength"><i class="fa fa-frown-o fb mr5"></i>偏好资产不能超过3个</div>
            </div>
        </div>
    </div>
    <div class="form-group mt40" ng-show="uploadType === 'normal'">
        <div class="col-md-12 clfix">
            <div kt-loading-status height="32" width="32" ignores="/api/v1/shadows"></div>
            <button class="btn btn-block btn-lg btn-navy-blue" ng-click="submitForm()" ng-disabled="preferForm.$invalid || pendingRequests || (!hasAssetType && !hasBusinessType)">完成</button>
        </div>
    </div>
    <div class="modal-footer mt30" ng-show="uploadType === 'dialog'">
        <button class="btn btn-dark btn-navy-gradient" ng-click="submitForm()" ng-disabled="preferForm.$invalid || pendingRequests">确定</button>
        <button class="btn btn-gray" ng-click="closeDialog({$event:$event})">取消</button>
    </div>
</form>
