<div class="row" child="hpanel" effect="zoomIn" delay="0.1">
    <div class="hpanel">
        <div class="panel-body clfix pr">
            <div class="chart-table" style="margin-top: -15px;">
                <div class="chart-table-heading clfix">
                    <div class="chart-table-title fl">各平台发行量-收益率近7日统计图<i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="展示最近7天内各平台产品发行量变化与平台综合年化收益率情况。气泡面积大小对应平台发行量。发行量是最近7日内平台所有产品实际募集金额增加量，收益率是加权统计后的平台所有产品综合年化收益率。" class="icon-pano icon-info f1_2rem ml5"></i></div>
                    <div class="update-time fr">
                        <span class="ml10">
                            时间范围：<span ng-bind="::(updateDate)"></span>
                        </span>
                    </div>
                </div>
                <div class="chart-table-body">
                    <div id="rateAmountChart" kt-echart chart-options="rateAmountChart.chartOptions" style="height:400px;">
                    </div>
                </div>
            </div>
            <div class="chart-table">
                <div class="chart-table-heading clfix">
                    <div class="chart-table-title fl">不同期限产品收益率<i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="展示本周期和上一周期（每7天1个周期）资管理财市场不同期限产品的综合年化收益率情况。" class="icon-pano icon-info f1_2rem ml5"></i></div>
                    <!-- <div class="update-time fr">
                        时间范围：<span ng-bind="::(updateDate)"></span>
                    </div> -->
                </div>
                <div class="chart-table-body">
                    <div id="durationRateChart" kt-echart chart-options="durationRateChart.chartOptions" style="height:400px;">
                    </div>
                </div>
            </div>
            <div class="chart-table">
                <div class="chart-table-heading clfix">
                    <div class="chart-table-title fl">不同期限产品发行量<i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="展示本周期和上一周期（每7天1个周期）资管理财市场不同期限产品的发行量情况。" class="icon-pano icon-info f1_2rem ml5"></i></div>
                    <!-- <div class="update-time fr">
                        时间范围：<span ng-bind="::(updateDate)"></span>
                    </div> -->
                </div>
                <div class="chart-table-body">
                    <div id="durationAmountChart" kt-echart chart-options="durationAmountChart.chartOptions" style="height:400px;">
                    </div>
                </div>
            </div>
            <div class="chart-table">
                <div class="chart-table-heading clfix">
                    <div class="chart-table-title fl">各平台资产类型占比<i tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="统计最近7日内各平台不同资产类型发行量的占比情况。" class="icon-pano icon-info f1_2rem ml5"></i></div>
                    <div class="update-time fr">
                        时间范围：<span ng-bind="::(updateDate)"></span>
                    </div>
                </div>
                <div class="chart-table-body">
                    <div id="platformAssetTypeChart" kt-echart chart-options="platformAssetTypeChart.chartOptions" style="height:400px;">
                    </div>
                </div>
            </div>
            <div class="mt30">
                <p class="footer-notes f1_2rem lh1_8em text-placeholder">*总览数据覆盖互联网金融平台的活期产品、票据产品以及定期或固收产品，不包括P2P产品、私募基金产品和转让产品。
                </p>
            </div>
        </div>
    </div>
</div>
