<div class="row" kt-animate-panel child="hpanel" effect="zoomIn" delay="0.1">
    <div class="col-lg-12 ">
        <div class="content-header clfix">
            <div class="actions fr">
                <div class="btn-group btn-group-sm fr" oc-lazy-load="['common/directives/datepicker/directive.js', 'common/directives/datepicker/theme/v2/style.css']">
                    <label class="btn btn-default" ng-model="radioPeriod" uib-btn-radio="'all'">全部</label>
                    <label class="btn btn-default" ng-model="radioPeriod" uib-btn-radio="radioPeriodCustom" kt-date-picker batch-mode="month-range" single-month="false" extra-class="date-picker-analytics-top" show-week-numbers="false" auto-close="false" show-shortcuts="false">任意</label>
                </div>
            </div>
        </div>
        <div ng-if="data" class="hpanel">
            <div class="panel-heading clfix">
                <h5>资产特征</h5>
                <div class="dropdown fl ml25" dropdown>
                    <div dropdown-toggle class="dropdown-toggle cp">
                        <span ng-bind="institutionName"></span><b class="icon-lode icon-arrow">&#xe805;</b>
                    </div>
                    <div class="dropdown-menu animated fadeIn m-t-xs">
                        <ul>
                            <li ng-repeat="institution in institutions" ng-class="{active: activeInstID == institution.id}">
                                <a ng-click="insitutionChange(institution.id, institution.name)" title="institution.name" ng-bind="institution.name"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="actions fr">
                    <div class="btn-group btn-group-sm">
                        <label class="btn btn-dark" ng-model="radioDataShowType" uib-btn-radio="'table'">
                            <i class="icon-lode">&#xe808;</i>
                        </label>
                        <label class="btn btn-dark" ng-model="radioDataShowType" uib-btn-radio="'chart'">
                            <i class="icon-lode">&#xe806;</i>
                        </label>
                    </div>
                    <a class="download-data f18 ml5 pr10 pl10 va-2">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body clfix pr ov-h">
                <div class="chart-table">
                    <div class="chart-table-heading clfix">
                        <div class="f14 pl10">按贷款期限来分</div>
                    </div>
                    <div class="chart-table-body" ng-show="radioDataShowType === 'chart'">
                        <div kt-echart chart-options="timelimitsChart.chartOptions" style="height:400px;">
                        </div>
                    </div>
                    <div class="chart-table-body" ng-show="radioDataShowType === 'table'">
                        <div class="table-responsive table-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="text-left">
                                        <th>期限分布</th>
                                        <th ng-repeat="date in data.dates" ng-bind="date"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-right">
                                        <tr class="text-right" ng-repeat="item in timelimitsChart.list" ng-show="timelimitsChart.menuData.index === 0">
                                            <th class="text-left" ng-bind="::item.name"></th>
                                            <td ng-repeat="value in item.data track by $index" ng-bind="(value | ktNumberLocate)"></td>
                                        </tr>
                                        <tr class="text-right" ng-repeat="item in timelimitsChart.list" ng-show="timelimitsChart.menuData.index === 1">
                                            <th class="text-left" ng-bind="::item.name"></th>
                                            <td ng-repeat="value in item.data track by $index" ng-bind="(value * 100 | number:2) + '%'"></td>
                                        </tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!data && !isLoading()" class="hpanel text-center text-info">
            <i class="pe-7s-attention f20 mr5"></i>
            <span class="f16">没有数据！</span>
        </div>
    </div>
</div>
