.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: @color-blue!important;
    color: white;
}

.dropdown {
    min-width: 135px;
    height: 26px;
    line-height: 24px;
    border-radius: 3px;
    border: 1px solid @border-color;
    position: relative;
    // background: @color-8;
    background: white;
    &.hdropdown {
        z-index: 99;
        background: none;
        border: 0;
        min-width: auto;
        &.open,
        &:hover {
            .icon-arrow {
                color: white;
            }
        }
        .icon-arrow {
            right: 0;
        }
    }
    .dropdown-toggle {
        cursor: pointer;
        text-indent: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &.open,
    &:hover {
        .icon-arrow {
            transition: color .3s;
            color: @color-navy-blue;
        }
    }
    &.open {
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }
    .icon-arrow {
        right: 8px;
        color: #cddce4;
        position: absolute;
        top: 50%;
        margin-top: -.5em;
    }
}

.dropdown-example {
    display: inline-block;
    margin: 0px 10px 10px 10px;
}

.dropdown-example .dropdown-menu {
    position: static;
    display: block;
}

.dropdown-menu {
    font-size: 1.3rem;
    min-width: auto;
    right: -1px;
    left: -1px;
    padding: 0;
    border-radius: 0 0 3px 3px;
    margin-top: 0;
    border: 1px solid @border-color;
    ul {
        max-height: 300px;
        overflow-y: auto;
        list-style-type: none;
        overflow-y: auto;
        max-height: 300px;
    }
    // box-shadow: 0 0 6px 0px rgba(0, 0, 0, .50);
    li {
        &.active {
            a {
                color: @color-navy-blue;
                background: @color-8;
            }
        }
        a {
            padding: 4px 1em;
            text-indent: 0;
            color: @color-2;
            transition: none;
            display: block;
            clear: both;
            font-weight: normal;
            line-height: 1.43;
            white-space: nowrap;
            &:hover {
                color: @color-navy-blue;
                background: @color-8;
            }
        }
    }
    &:focus,
    *:focus {
        outline: none;
    }
}

.hdropdown .dropdown-menu {
    padding: 0;
    z-index: 1060;
    min-width: auto;
    border-radius: 3px!important;
    border: 0;
    margin-top: 10px!important;
    background: rgba(0, 0, 0, .7)!important;
    left: 28px;
    right: 0;
    .title {
        padding: 12px 12px;
        text-align: center;
        border-bottom: 1px solid @border-color;
    }
    &.notification li {
        padding: 12px 12px;
    }
    &.notification li .label {
        margin-right: 10px;
    }
    >li {
        padding: 0;
        text-align: center;
        overflow: hidden;
        // background: rgba(0, 0, 0, .3);
        border-bottom: 1px solid @color-2;
        &:first-of-type {
            border-radius: 3px 3px 0 0;
        }
        &:last-of-type {
            border-radius: 0 0 3px 3px;
            border: 0;
        }
        &:hover,
        &.active {
            a {
                background: #444c62!important;
            }
        }
        > a {
            color: white;
            padding: 7px 1em!important;
            &:hover {
                background: #444c62!important;
            }
        }
        &.summary {
            padding: 6px 12px;
            text-align: center;
            background: #fff;
        }
    }
}
