.filter-box {
    @dropdown-bg: @color-8;
    background: white;
    padding: 10px 25px;
    font-size: 1.3rem;
    margin-bottom: 20px;
    @media(max-width: 768px) {
        padding: 8px 15px;
    }
    @media(max-width: 480px) {
        padding: 0;
    }
    .normal-filter {
        padding: 15px 0;
        .toggle-more-filters {
            font-size: 1rem;
            padding: 3px 8px 4px;
            color: white;
            background: @color-2;
            &:hover {
                background: lighten(@color-2, 6%);
            }
            .icon-arrow {
                transform-origin: 50% 50%;
            }
        }
        .right{
            float: right;
            @media(max-width: 480px){
                float: left;
                clear: both;
                margin: 10px 18px;
            }
        }
        &.expand {
            margin-bottom: 10px;
            border-bottom: 1px solid @border-color2;
            .toggle-more-filters{
                .icon-arrow {
                    transform: rotate(90deg) translateX(2px);
                }
            }
        }
        .name {
            min-width: 85px;
            line-height: 23px;
            text-align: right;
        }
        .datepicker {
            border-radius: 3px;
            -webkit-appearance: none;
            border: 1px solid @border-color;
            width: 201px;
            height: 26px;
            padding: 0 0 0 1em;
            // background: @dropdown-bg;
            background: white;
            margin-left: 13px;
            cursor: pointer;
        }
        .datepicker-container {
            margin-left: 40px;
            position: relative;
            @media(max-width: 768px) {
                clear: left;
                margin: 15px 0 0 0;
            }
        }
        .picker-icon {
            position: absolute;
            right: 14px;
            top: 6px;
            color: @color-inactive;
            cursor: pointer;
            transition: all .3s;
            pointer-events: none;
        }
        .opened .picker-icon,
        .datepicker:hover + .picker-icon {
            color: @color-navy-blue;
        }
    }
    .dropdowns {
        float: left;
        padding-left: 13px;
    }
    
    .filter-list.has-toggle-btn {
        .filter-line {
            padding: 11px 50px 0 0;
        }
    }
    .filter-line {
        padding: 11px 0 0;
        border-bottom: 1px dashed @border-color;
        position: relative;
        user-select: none;
        .toggle-btn {
            position: absolute;
            right: 20px;
            top: 10px;
            border-radius: 2px;
            padding: 0px 7px;
            cursor: pointer;
            background: @color-inactive;
            color: white;
            &:hover,
            &.expand {
                background: @color-navy-blue;
                color: white;
            }
            .icon-arrow {
                // transition: all .5s ease;
                transform-origin: 50% 50%;
            }
            &.expand {
                .icon-arrow {
                    color: white;
                    transform: rotate(90deg) translateX(1px);
                }
                // &:hover {
                //     .icon-arrow {
                //         color: @color-navy-blue;
                //         color: white;
                //     }
                // }
            }
        }
        &:last-of-type {
            border-bottom: 0;
        }
        .name {
            min-width: 85px;
            float: left;
            text-align: right;
        }
        .options {
            padding-left: 157px;

        }
    }
    ul.options-list {
        list-style-type: none;
        li {
            float: left;
            position: relative;
            padding: 0 15px;
            margin-bottom: 10px;
            &:first-of-type {
                margin-left: -66px;
                &:after {
                    content: '';
                    height: 10px;
                    width: 0;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 12px;
                    border-right: 1px solid @border-color;
                }
            }
            a {
                padding: 0 5px 2px;
                user-select: none;
                -webkit-user-select: none;
                color: @color-bright;
                transition: background-color .3s ease;
                &:hover {
                    color: white;
                    border-radius: 2px;
                    background-color: @color-navy-blue;
                    // text-decoration: underline;
                }
            }
            &.active a {
                color: white;
                border-radius: 2px;
                // text-decoration: underline;
                background-color: @color-navy-blue;
            }
        }
    }
}
@-moz-document url-prefix() { 
  .filter-box{
        .normal-filter{
            .datepicker{
                width: 212px;
            }
            .picker-icon{
                top: 7px;
            }
        }
  }
}