body.blank {
    background-color: @color-background;
}

body.account-page {
    // background: url(/images/login-bg.jpg) no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    background-color: @color-3;
    height: 100%;
    #header {
        background: @color-3;
        border-bottom: 1px solid @border-color;
        padding: 0;
    }
    .other-tips {
        font-size: 1.2rem;
        text-align: center;
        max-width: 750px;
        color: @placeholder-color;
        margin: 0 auto 70px;
        line-height: 1.8;
    }
}

.login-container {
    .checkbox.remember-me {
        padding-top: 0;
        min-height: auto;
    }
}

.login-container,
.register-container {
    margin: 50px auto 100px;
    font-size: 1.3rem;
    max-width: 490px;
    .form-control {
        height: 45px;
        background: @color-3;
    }
    .has-error {
        .form-control {
            box-shadow: none;
        }
    }
    .btn-lg {
        padding: 11px 16px;
    }
    .btn-navy-blue {
        background: @color-1;
        font-size: 1.7rem;
        &:hover,
        &:focus,
        &:active {
            background: #4c5364;
        }
        &.disabled,
        &.disabled:hover,
        &.disabled:focus,
        &.disabled:active,
        &.disabled.active,
        &[disabled],
        &[disabled]:hover,
        &[disabled]:focus,
        &[disabled]:active,
        &.active[disabled],
        fieldset[disabled] &,
        fieldset[disabled] &:hover,
        fieldset[disabled] &:focus,
        fieldset[disabled] &:active,
        fieldset[disabled] &.active {
            opacity: 1;
            color: #dde8f9;
            background-color: lighten(#4c5364, 10%);
            border-color: lighten(#4c5364, 10%);
        }
        // .btn-blue-func();
    }
    a.no-notely:hover {
        color: @color-navy-blue;
    }
    .title {
        font-size: 3rem;
        color: @color-1;
        // padding-left: 15px;
        margin: 0 0 28px;
        font-weight: normal;
        @media(max-width: 480px) {
            font-size: 1.5rem;
            padding-left: 10px;
            margin: 0 0 10px;
        }
    }
    .sub-title {
        font-size: 1.3rem;
        color: @placeholder-color;
        // padding-left: 5px;
        margin-top: -15px;
        margin-bottom: 20px;
        float: left;
    }
    .btn-first {
        margin-top: 4rem;
    }
    .head {
        color: white;
        h3 {
            font-size: 2rem;
        }
    }
    .hpanel {
        padding: 0;
        margin: 0;
        // background: rgba(255, 255, 255, .8);
        border-radius: 10px;
        .panel-body {
            background: white;
            border-radius: 3px;
            padding: 40px 50px;
            @media(max-width: 768px) {
                padding: 30px 15px;
            }
            @media(max-width: 480px) {
                padding: 15px 18px;
            }
        }
    }
    @media(max-width: 480px) {
        .form-control {
            height: 40px;
            font-size: 1.4rem;
        }
        .btn-navy-blue {
            font-size: 1.5rem;
        }

    }
    @media (min-width: 768px) {
        .control-label {
            padding-left: 0;
            padding-right: 0;
        }
    }
}


/*.account-page #footer-analytics {
    position: fixed;
}*/

.register-container {
    max-width: 490px;
    margin: 50px auto;
    @media(min-width: 401px) {
        .phone-captcha {
            margin-left: 10px;
        }
    }
    .checkbox-label {
        float: left;
        color: @placeholder-color;
        // color: white;
        font-size: 1.3rem;
        position: relative;
        [type=checkbox] {
            display: none;
            &:checked ~ label {
                border-color: @color-orange;
                outline: 1px solid @color-orange;
                &:before {
                    content: '\e013';
                    position: absolute;
                    top: 9px;
                    left: 4px;
                    font-size: 1rem;
                    color: @color-orange;
                    display: inline-block;
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
        label {
            font-weight: normal;
            cursor: pointer;
            padding: 5px 20px;
            border: 1px solid @border-color;
            margin-right: 5px;
            font-size: 1_3rem;
            &:hover {
                border-color: @color-orange;
                outline: 1px solid @color-orange;
            }
        }
    }
    .btns {
        .btn-get-captcha {
            border: 1px solid @border-color;
            background: #e7eaee;
            color: @placeholder-color;
            outline: none;
            &:hover {
                background: lighten(#e7eaee, 5%);
            }
            &:active {
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .3);
            }
        }
        .icon-pano {
            color: #d0d4d9;
        }
    }
    .form-group-phone-captcha {
        .form-control {
            box-sizing: border-box;
            float: left;
        }
        input {
            width: 36%;
        }
        .by-message {
            width: 30%;
            margin-left: 2%;
        }
        .by-call {
            width: 30%;
            margin-left: 2%;
        }
    }
    .contact-us {
        color: #d2d2d2;
    }
    // padding-top: 6%;
}
