.modal-dialog {
    width: 468px;
    // margin: 30px auto;
    @media (min-width: 768px) {
        // width: 555px;
        margin: 100px auto;
    }
}

.modal-body {
    padding: 25px 10px 10px;
    .btn {
        border: 1px solid @border-color3;
    }
    .btn-dark {
        border-color: #444960;
    }
    .control-label,
    .form-control {
        font-size: 15px;
    }
    .form-control {
        height: 30px;
        background: @color-3;
        border: 1px solid @border-color3;
        padding: 0 10px;
    }
    .control-label {
        padding-top: 4px;
        margin-right: -10px;
    }
    .text-warning {
        font-size: 12px;
    }
    // @media (min-width: 768px) {
    //     .control-label {
    //         padding-left: 10px;
    //         padding-right: 0;
    //     }
    // }
    .form-group {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.modal-header {
    padding: 0 10px;
    text-align: center;
    border: 0;
    .modal-title {
        color: @color-1;
        line-height: 50px;
        font-size: 17px;
        border-bottom: 1px solid @color-3;
    }
}

.modal-footer {
    padding: 0 0 30px;
    text-align: center;
    border: 0;
    &.border-top {
        padding: 15px;
        border-top: 1px solid #e5e5e5;
    }
    .btn {
        font-size: 14px;
        padding: 5px 10px;
        min-width: 70px;
        // margin: 25px 5px 25px 5px;
        border: 0!important;
    }
}

// @media(max-width: 480px){
//     .modal-footer{
//         padding: 1rem 0 3rem;
//     }
// }
