.pagination-example .pagination {
    margin: 0 0 10px 0;
}

.pagination-next {
    // a:after {
    //     content: "\f105";
    //     margin-left: 5px;
    //     font: normal normal normal 14px/1 FontAwesome;
    // }
}

.pagination-prev {
    // a:before {
    //     content: "\f104";
    //     margin-right: 5px;
    //     font: normal normal normal 14px/1 FontAwesome;
    // }
}

.pagination {
    margin: 0;
    &.pagination-sm {
        >li {
            >a,
            >span {
                border-radius: 2px;
                padding: 0px 6px 1px;
            }
            &.pagination-prev,
            &.pagination-next {
                &>a {
                    padding: 0 7px 1px;
                }
            }
        }
    }
    > li {
        &.pagination-prev,
        &.pagination-first,
        &.pagination-last,
        &.pagination-next {
            >a,
            >span {
                font-size: 15px;
                line-height: 1.2;
                border: 1px solid @pagination-bound-bg;
                background: @pagination-bound-bg;
                color: @color-navy-blue;
                &:hover,
                &:focus {
                    border: 1px solid lighten(@pagination-bound-bg, 1%);
                    background: lighten(@pagination-bound-bg, 1%);
                    color: @color-navy-blue;
                }
                &:active {
                    background: darken(@pagination-bound-bg, 5%);
                }
            }
        }
        > a,
        > span {
            margin: 0 3px;
            background: none;
            border: 1px solid @color-3;
            color: @color-bright;
            box-sizing: border-box;
            &:hover,
            &:focus {
                color: @color-bright;
                // cursor: default;
                z-index: 2;
                border: 1px solid white;
                background-color: white;
            }
        }
        &:first-child,
        &:last-child {
            >a {
                margin: 0 7px;
            }
        }
        &.disabled {
            >a,
            >span {
                // padding: 3px 8px;
                color: #acacac;
                background: @pagination-disabled-bg;
                border-color: @pagination-disabled-bg;
                &:hover,
                &:focus {
                    color: #acacac;
                    border-color: @pagination-disabled-bg;
                    background: @pagination-disabled-bg;
                }
            }
        }
        &.active {
            >a,
            >span,
            > a:hover,
            > span:hover,
            > a:focus,
            > span:focus {
                color: @color-bright;
                cursor: default;
                z-index: 2;
                border: 1px solid white;
                background-color: white;
            }
        }
    }
}
