
.global-loading-status{
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
}
.content-header {
    margin-bottom: 10px;
    padding: 12px 14px;
    // background-color: white;
}

.rejected-color {
    color: @color-red;
}

.warn-color {
    color: @color-orange;
}

#main-view {
    min-height: 100%;
    position: relative;
    padding-bottom: 165px;
    @media(max-width: 767px) {
        padding-bottom: 170px;
    }
    @media(max-width: 480px) {
        padding-bottom: 168px;
    }
}
.icon-info{
    // cursor: pointer;
    &:hover{
        color: @color-navy-blue;
    }
}
.footer-notes{
    padding-left: 5px;
    &::first-letter{
        margin-left: -5px;
    }
}

/*.fixed-sidebar {
    #footer{
        left: 200px;
    }
    &.page-small #footer-analytics,
    &.hide-siderbar #footer-analytics,
    {
        left: 0;
    }
    &.show-sidebar #footer-analytics{
        left: 200px;
    }
}
*/