<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">有效好友</h4>
    </div>
    <div class=" details_table">
      <div>
        <p>*注册并通过认证审核的用户为已生效，否则为未生效</p>
        <div class="table_w">
            <table>
              <thead>
                <tr class="raduis">
                    <th>好友</th>
                    <th>手机号</th>
                    <th>注册日期</th>
                    <th>状态</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in detailsArr">
                      <td ng-bind="item.name"></td>
                      <td ng-bind="item.phone"></td>
                      <td ng-bind="item.created_at"></td>
                      <td ng-bind="item.status" ng-class="{'details_color':item.status=='已生效'}"></td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="getMore" ng-click="getMore()">加载更多</div>
    </div>
    <div class="modal-footer">
        <button class="btn " ng-click="ok()" ng-disabled="pendingRequests">确定</button>
    </div>
</div>
