<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" ng-bind="title"></h4>
    </div>
    <form name="popForm" novalidate kt-autofill-submit class="form-horizontal" method="post" id="popForm" kt-submit="submitForm()">
        <div class="modal-body ov-h">
            <div class="form-group" ng-show="!hideMobileInput" ng-class="{'has-error':popForm.mobile.$invalid && popForm.mobile.$dirty}">
                <label class="text-primary-dark control-label col-md-3"><span class="ml5 f14">*</span>手机号</label>
                <div class="col-md-7">
                    <input placeholder="您的手机号码" kt-validate-on-blur ng-pattern="/^\d{11}$/" type="text" required="required" ng-model="user.mobile" id="" class="form-control" name="mobile">
                    <div class="mt5 text-warning" ng-messages="popForm.mobile.$dirty && popForm.mobile.$error">
                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入您的手机号</div>
                        <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>请正确输入11位手机号码</div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':popForm.img_captcha.$invalid && popForm.img_captcha.$dirty}">
                <label class="text-primary-dark control-label col-md-3"><span class="ml5 f14">*</span>图形验证码</label>
                <div class="col-md-7">
                    <input style="width: 194px;" placeholder="输入图形验证码" kt-validate-on-blur type="text" required="required" ng-pattern="/^\w{4}$/" ng-model="user.img_captcha" id="img_captcha" class="form-control fl" name="img_captcha">
                    <div class="fl ml10">
                        <img class="image-captcha" style="max-width: 88px;" src="{{imgCaptcha.url}}" height="35" ng-click="refreshImgCaptcha()" alt="验证码">
                    </div>
                    <div class="mt5 cbs text-warning" ng-messages="popForm.img_captcha.$dirty && popForm.img_captcha.$error">
                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入图形验证码</div>
                        <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>图形验证码有误</div>
                    </div>
                </div>
            </div>
            <div class="form-group cbs" ng-class="{'has-error':popForm.captcha.$invalid && popForm.captcha.$dirty}">
                <label class="text-primary-dark control-label col-md-3"><span class="ml5 f14">*</span>验证码</label>
                <div class="col-md-7">
                    <input style="width: 123px;" placeholder="输入验证码" type="text" ng-pattern="/^\d{4}$/" required="required" ng-model="user.captcha" id="" class="form-control fl" name="captcha">
                    <div class="btn-group fl ml10">
                        <button style="width: 80px;height:34px;" ng-disabled="waitCaptchaMessage" ng-click="getCaptcha($event, 'sms', 'captcha')" class="btn f1_3rem btn-dark fl ml10">
                            <!-- <i class="pe-7s-mail fb va-1 mr5"></i> -->
                            <span ng-hide="waitCaptchaMessage">短信获取</span>
                            <span ng-hide="!waitCaptchaMessage">
                                等待(<span ng-bind="timerMessage"></span>)
                            </span>
                        </button>
                        <button style="width: 80px;height:34px;" ng-disabled="waitCaptchaTel" ng-click="getCaptcha($event, 'tel', 'captcha')" class="btn f1_3rem btn-dark fr">
                            <!-- <i class="pe-7s-call fb va-1 mr5"></i> -->
                            <span ng-hide="waitCaptchaTel">语音获取</span>
                            <span ng-hide="!waitCaptchaTel">
                                等待(<span ng-bind="timerTel"></span>)
                            </span>
                        </button>
                    </div>
                    <div class="mt5 text-warning cbs" ng-messages="popForm.captcha.$dirty && popForm.captcha.$error">
                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入验证码</div>
                        <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>验证码错误</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3 text-warning cbs" ng-show="!!error">
                    <i class="fa fa-frown-o fb mr5"></i>
                    <span ng-bind="error"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer" ng-show="notLastStep">
            <button class="btn btn-navy-blue btn-navy-gradient" ng-disabled="pendingRequests">下一步</button>
            <button class="btn btn-dark" ng-click="cancel($event)">取消</button>
        </div>
        <div class="modal-footer" ng-show="!notLastStep">
            <button class="btn btn-navy-blue btn-navy-gradient" ng-disabled="pendingRequests">提交</button>
            <button class="btn btn-dark" ng-click="cancel($event)">取消</button>
        </div>
    </form>
</div>
