<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title" ng-bind="title"></h4>
    </div>
    <div class="modal-body ov-h">
        <form name="popForm" class="form-horizontal" method="post" id="popForm" ng-submit="submitForm()">
            <div class="form-group col-md-12" ng-class="{'has-error':popForm.img_captcha.$invalid && popForm.img_captcha.$dirty}">
                <label class="text-primary-dark control-label col-md-3 col-md-offset-1">图形验证码</label>
                <div class="col-md-7">
                    <input style="width: 130px;" placeholder="输入图形验证码" kt-validate-on-blur type="text" required="required" ng-model="img_captcha" id="" class="form-control fl" name="img_captcha">
                    <div class="fl ml10" oc-lazy-load="['common/directives/kt-captchaimg-directive.js', 'common/factories/kt-captcha.js']">
                        <div id="captcha" class="captcha" kt-captcha-img height="34" width="108"></div>
                    </div>
                    <div class="mt5 cbs text-danger" ng-messages="popForm.img_captcha.$dirty && popForm.img_captcha.$error">
                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入图形验证码</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3 text-danger cbs" ng-show="!!error">
                    <i class="fa fa-frown-o fb mr5"></i>
                    <span ng-bind="error"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-navy-blue btn-navy-gradient" ng-click="ok()" ng-disabled="pendingRequests">提交</button>
        <button class="btn btn-dark" ng-click="cancel($event)">取消</button>
    </div>
</div>
