<div class="simple-container cbs container" kt-full-page-destroy>
    <div class="alert alert-warning alert-dismissible" role="alert" ng-if="visibleJudgement(['rejected', 'pended'])">
        <div class="alert-container">
            <div class="alert-body" ng-if="user.status === 'rejected'">
                很抱歉，您所提交的信息因 <em class="f1_6rem" ng-bind="user.reason"></em> 未能通过认证审核。<em class="f1_6rem" ng-bind="user.solution"></em>，感谢您对开通PANO的关注！
            </div>
            <div class="alert-body" ng-if="user.status === 'pended'">
                您在 <em ng-bind="user.pended_at | date:'yyyy-MM-dd HH:mm:ss'"></em> 提交的信息正在审核中，审核结果会在一个工作日内以邮件的形式通知，请您耐心等待，如有问题可联系本页右下方的PANO微信小秘书。
            </div>
            <div class="alert-footer clfix" ng-if="user.status === 'rejected'">
                <div class="fl">请在下方进行修改后，</div>
                <button class="btn btn-sm btn-orange fl" ng-disabled="pendingRequests" ng-click="updateUserStatus()">重新提交审核</button>
            </div>
        </div>
    </div>
    <div class="clfix">
        <h3 class="simple-title fb fl">账号信息</h3>
    </div>
    <div class="hpanel">
        <div class="panel-body">
            <div class="setting-list">
                <div class="line">
                    <div class="title">
                        <span class="key">姓<i class="blank"></i><i class="blank"></i>名：</span>
                        <span class="value" ng-bind="user.name"></span>
                    </div>
                    <!-- <div class="action">
                        <a ng-click="updateName()" class="btn btn-navy-blue f1_2rem">
                            <i class="icon-pano icon-edit f1rem mr5"></i>修改
                        </a>
                    </div> -->
                </div>
                <div class="line">
                    <div class="title">
                        <span class="key">手机号码：</span>
                        <span class="value" ng-bind="user.mobile"></span>
                    </div>
                    <div class="content">该手机号码可以用于登录，重置密码或其他安全验证</div>
                    <div class="action" ng-if="user.status === 'rejected'">
                        <a ng-click="updateMobile()" class="btn btn-navy-blue f1_2rem">
                            <i class="icon-pano icon-edit f1rem mr5"></i>修改
                        </a>
                    </div>
                </div>
                <div class="line">
                    <div class="title bd-b">
                        <span class="key">工作邮箱：</span>
                        <span class="value" ng-bind="user.email"></span>
                    </div>
                    <div class="title bd-b">
                        <span class="key">公司名称：</span>
                        <span class="value" ng-bind="user.company"></span>
                    </div>
                    <div class="title bd-b">
                        <span class="key">部<i class="blank"></i><i class="blank"></i>门：</span>
                        <span class="value" ng-bind="user.department"></span>
                    </div>
                    <div class="title bd-b">
                        <span class="key">职<i class="blank"></i><i class="blank"></i>位：</span>
                        <span class="value" ng-bind="user.job"></span>
                    </div>
                    <div class="title bd-b">
                        <span class="key">地<i class="blank"></i><i class="blank"></i>址：</span>
                        <span class="value" ng-bind="user.address"></span>
                    </div>
                    <div class="title">
                        <span class="key">名<i class="blank"></i><i class="blank"></i>片：</span>
                        <div class="value">
                            <img ng-mouseenter="bigPitcureVisble = true" ng-mouseleave="bigPitcureVisble = false" class="business-card" ng-src="{{user.card_url}}" height="170" alt="用户的名片">
                            <img ng-show="bigPitcureVisble" class="business-card-big" ng-src="{{user.card_url}}" alt="用户的名片">
                            <div class="action" ng-if="visibleJudgement(['rejected', 'passed'])">
                                <a ng-click="updateBusinessCard()" class="btn btn-navy-blue f1_2rem">
                                    重新上传
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="action">
                        <a ng-click="updateProfile()" class="btn btn-navy-blue f1_2rem">
                            <i class="icon-pano icon-edit f1rem mr5"></i>修改
                        </a>
                    </div> -->
                </div>
                <div class="line">
                    <div class="title">
                        <span class="key">账户密码</span>
                    </div>
                    <div class="content">用于保护账号信息和登录安全</div>
                    <div class="action" ng-if="visibleJudgement(['pended', 'passed'])">
                        <a ng-click="updatePassword()" class="btn btn-navy-blue f1_2rem"><i class="icon-pano icon-edit f1rem mr5"></i>修改</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="clfix">
        <h3 class="simple-title fb fl">邀请码</h3>
    </div>
    <div class="hpanel">
        <div class="panel-body">
            <div style="padding-left: 25px;">
                <div class="f1_5rem" style="color:#3d4351;">
                    您的邀请码：<span id="invitee_code" ng-bind="user.invitee_code"  class="mr20 text-warning-light f2rem"></span>
                    您可以
                    <a ng-show="autoCopyDisabled" class="navy-color tu" uib-tooltip="{{copyTooltip}}"  tooltip-trigger="none" tooltip-placement="bottom" ngclipboard data-clipboard-target="#invitee_code">复制邀请码</a>
                    <a ng-show="!autoCopyDisabled" class="navy-color tu" uib-tooltip="复制成功！" tooltip-trigger="none"  tooltip-is-open="tooltipIsOpen" tooltip-placement="bottom" ngclipboard ngclipboard-success="copySuccess()" data-clipboard-target="#invitee_code">复制邀请码</a> 或 <a class="navy-color tu" ng-click="sendInviteCode()">发送邀请码到我的手机</a>
                </div>
                <div class="f1_3rem mt10">该邀请码共可使用<span class="navy-color ml2 mr2" ng-bind="user.invitee_limit"></span>次，已使用<span class="navy-color ml2 mr2" ng-bind="user.invitee_count"></span>次</div>
            </div>
        </div>
    </div> -->
</div>
