<div class="login-container cbs" kt-full-page-destroy kt-feedback-destroy>
    <div class="clfix">
        <h3 class="title fb fl">登录到 PANO</h3>
        <!-- <p class="f14">最好用的互联网金融小微贷统计平台</p> -->
    </div>
    <div class="hpanel">
        <div class="panel-body">
            <form name="loginForm" kt-accessible-form class="form-horizontal" method="post" id="loginForm" ng-submit="submitForm()">
                <input type="hidden" name="redirect" value="{{currentUrl}}">
                <div class="form-group has-feedback" ng-class="{'has-error':loginForm.mobile.$invalid && loginForm.mobile.$dirty}">
                    <!-- <label class="text-primary-dark col-md-2 control-label" for="mobile">账户</label> -->
                    <div class="col-md-12">
                        <input kt-auto-fill-fix autofocus type="text" ng-model="user.mobile" ng-pattern="/^\d{11}$/" placeholder="请输入用户名（手机号码）" title="填写您的手机号" required="required" name="mobile" id="mobile" class="form-control">
                        <div ng-messages="loginForm.mobile.$dirty && loginForm.mobile.$error" class="mt5 text-warning">
                            <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请填写您的手机号</div>
                            <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>请正确输入11位手机号码</div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{'has-error':loginForm.password.$invalid && loginForm.password.$dirty}">
                    <!-- <label class="text-primary-dark col-md-2 control-label" for="password">密码</label> -->
                    <div class="col-md-12">
                        <input kt-auto-fill-fix ng-model="user.password" type="password" title="您的密码" placeholder="请输入您的密码" required="required" name="password" id="password" class="form-control">
                        <div ng-messages="loginForm.password.$dirty && loginForm.password.$error" class="mt5 text-warning">
                            <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请填写您的密码</div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group has-feedback" ng-class="{'has-error':loginForm.img_captcha.$invalid && loginForm.img_captcha.$dirty}">
                    <!~~ <label class="text-primary-dark col-md-2 control-label" for="img_captcha">验证码</label> ~~>
                    <!~~ <div class="col-md-10"> ~~>
                        <input style="width:180px" kt-validate-on-blur ng-model="user.img_captcha" type="img_captcha" title="输入验证码" placeholder="输入验证码" required="required" name="img_captcha" id="img_captcha" class="form-control fl">
                        <div class="ml10 fl" oc-lazy-load="['common/directives/kt-captchaimg-directive.js', 'common/factories/kt-captcha.js']">
                            <div id="captcha" class="captcha" kt-captcha-img settings="captchaSettings" height="34" width="80"></div>
                        </div>
                        <div ng-messages="loginForm.img_captcha.$dirty && loginForm.img_captcha.$error" class="mt5 cbs text-warning">
                            <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请正确填写验证码</div>
                            <!~~ <div ng-message="ktCompareTo"><i class="fa fa-frown-o fb mr5"></i>您输入的验证码错误</div> ~~>
                        </div>
                    <!~~ </div> ~~>
                </div>-->
                <!-- <div class="row m-t-n-sm mb20 mt5">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox checkbox-primary">
                            <input id="remember" type="checkbox" ng-model="user.remember" ng-true-value="1" ng-false-value="0">
                            <label class="f1_2rem no-notely" for="remember">记住账户名
                            </label>
                        </div>
                    </div>
                </div> -->
                <div kt-loading-status height="32" width="32"></div>
                <div class="text-warning mb10" ng-show="loginError">
                    <i class="fa fa-frown-o fb mr5"></i>用户名或密码错误！
                </div>
                <div class="form-group mt10 mb0">
                    <div class="col-md-12 mt10 mb20">
                        <button class="btn btn-navy-blue btn-block btn-lg" ng-disabled="loginForm.$invalid || pendingRequests">立即登录</button>
                    </div>
                    <div class="col-xs-6 text-left">
                        <div class="checkbox remember-me checkbox-primary">
                            <input id="remember" type="checkbox" ng-model="user.remember" ng-true-value="1" ng-false-value="0">
                            <label class="no-notely" for="remember">记住我
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a title="忘记密码" class="no-notely" ng-click="resetPassword()">忘记密码？</a>
                    </div>
                    <div class="col-md-12 mt20">
                        还没有账号？现在 <a title="点击注册" class="tu" ui-sref="account.register">注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
