<div class="register-container cbs" kt-full-page-destroy kt-feedback-destroy>
    <div class="row">
        <div class="col-md-12">
            <div class="clfix">
                <h3 class="title">上传名片</h3>
                <div class="sub-title">请上传与注册手机号一致的名片信息<br>如名片信息分布在正反两面，请将正反两张名片摆在一起拍照</div>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div kt-business-card kt-submit="submitForm()" kt-user="user" upload-type="normal"></div>
                    <!-- <div ng-include="'views/_upload_business_card_form.html'"></div> -->
                    <!--<form id="perfectForm" novalidate name="perfectForm" class="form-horizontal" kt-accessible-form>
                        <div class="form-group" ng-class="{'has-error':perfectForm.business_card.$invalid && perfectForm.business_card.$dirty}">
                            <div class="col-md-12">
                                <div class="qrcode-bs-card text-center" ng-show="!user.business_card">
                                    <h5>手机扫描二维码上传：</h5>
                                    <div class="qrcode-body">
                                        <div class="qrcode" kt-qr-code qrcode="qrcode"></div>
                                        <!~~ <img class="qrcode" src="/images/weixin.jpg" alt="扫描上传名片"> ~~>
                                        <div class="buttons upload">
                                            <div class="btn btn-file" ng-class="{disabled: pendingUpload}">
                                                <span>本地上传</span>
                                                <input ngf-validate="{size: {max: '2MB'}" ngf-select="upload($files, $event)" ng-disabled="pendingUpload" accept="image/*" ngf-accept="'image/*'" ngf-pattern="'.jpg,.jpeg,.png,.bmp,.gif'" ngf-multiple="false" type="file" name="file" ng-model="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="qrcode-bs-card preview text-center" ng-show="user.business_card">
                                    <h5>已上传的名片：</h5>
                                    <div class="qrcode-body">
                                        <img ng-src="{{user.business_card}}" alt="您的名片" class="qrcode">
                                        <div class="buttons delete">
                                            <button class="btn btn-file" ng-click="user.business_card = null">删除</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" required ng-model="user.business_card" class="form-control" name="business_card">
                                <div class="mt5 text-warning" ng-messages="perfectForm.business_card.$dirty && perfectForm.business_card.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请上传名片</div>
                                </div>
                            </div>
                        </div>
                        <!~~<div class="form-group" ng-class="{'has-error':perfectForm.name.$invalid && perfectForm.name.$dirty}">
                            <!~~ <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>姓名</label> ~~>
                            <div class="col-md-12">
                                <input autofocus ng-maxlength="50" ng-minlength="2" kt-validate-on-blur placeholder="您的真实姓名（提交后不可修改）" type="text" required ng-model="user.name" id="" class="form-control" name="name">
                                <div class="mt5 text-warning" ng-messages="perfectForm.name.$dirty && perfectForm.name.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入真实姓名</div>
                                    <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于2个字符</div>
                                    <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于50个字符</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':perfectForm.email.$invalid && perfectForm.email.$dirty}">
                            <!~~ <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>公司邮箱</label> ~~>
                            <div class="col-md-12">
                                <input placeholder="您的工作邮箱" kt-validate-on-blur type="email" required ng-model="user.email" id="" class="form-control" name="email">
                                <div class="mt5 text-warning" ng-messages="perfectForm.email.$dirty && perfectForm.email.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入您的工作邮箱</div>
                                    <div ng-message="email"><i class="fa fa-frown-o fb mr5"></i>邮箱格式不正确</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':perfectForm.company.$invalid && perfectForm.company.$dirty}">
                            <!~~ <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>公司全称</label> ~~>
                            <div class="col-md-12">
                                <input ng-maxlength="50" ng-minlength="2" placeholder="您的公司全称" kt-validate-on-blur type="text" required ng-model="user.company" id="" class="form-control" name="company">
                                <div class="mt5 text-warning" ng-messages="perfectForm.company.$dirty && perfectForm.company.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入公司全称</div>
                                    <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于2个字符</div>
                                    <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于50个字符</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':perfectForm.department.$invalid && perfectForm.department.$dirty}">
                            <!~~ <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>所在部门</label> ~~>
                            <div class="col-md-12">
                                <input ng-maxlength="50" ng-minlength="2" placeholder="您的所在部门" kt-validate-on-blur type="text" required ng-model="user.department" id="" class="form-control" name="department">
                                <div class="mt5 text-warning" ng-messages="perfectForm.department.$dirty && perfectForm.department.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入所在部门</div>
                                    <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于2个字符</div>
                                    <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于50个字符</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':perfectForm.job.$invalid && perfectForm.job.$dirty}">
                            <!~~ <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>职位</label> ~~>
                            <div class="col-md-12">
                                <input ng-maxlength="50" ng-minlength="2" placeholder="您的职位" kt-validate-on-blur type="text" required ng-model="user.job" id="" class="form-control" name="job">
                                <div class="mt5 text-warning" ng-messages="perfectForm.job.$dirty && perfectForm.job.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入职位</div>
                                    <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于2个字符</div>
                                    <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于50个字符</div>
                                </div>
                            </div>
                        </div>~~>
                        <!~~ <div class="form-group" ng-class="{'has-error':perfectForm.likes.$invalid && perfectForm.likes.$dirty}">
                            <label class="text-primary-dark text-left fn col-md-12 mt10">以下哪些是您关注的金融资产类型？</label>
                            <div class="col-md-12 mt15">
                                <div class="checkbox-label" ng-repeat="like in likes">
                                    <input id="{{'like_' + like.value}}" type="checkbox" checklist-model="user.likes" checklist-value="like.value" checklist-change="checkListChange()">
                                    <label for="{{'like_' + like.value}}" ng-bind="::like.name">
                                    </label>
                                </div>
                                <input type="hidden" name="likes" ng-model="hasLikes" required>
                                <div class="mt5 text-warning" ng-messages="perfectForm.likes.$dirty && perfectForm.likes.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请选择您关注的资产类型</div>
                                </div>
                            </div>
                        </div> ~~>
                        <div class="form-group mt40">
                            <div class="col-md-12 clfix">
                                <div kt-loading-status height="32" width="32" ignores="/api/v1/shadows"></div>
                                <button class="btn btn-block btn-lg btn-navy-blue" ng-click="submitForm('captcha')" ng-disabled="perfectForm.$invalid || pendingRequests">提交</button>
                            </div>
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="other-tips">
    <p>*本站展示的各类金融产品信息作为参考资料仅供行业内专业会员分析学习使用，不视为本站对该金融产品的任何推介。
        <br>各类金融产品的信息披露及募集对象以该金融产品销售机构设定的合格投资人及募集对象范围的相关要求为准。
    </p>
</div>
