<div class="register-container cbs" kt-full-page-destroy kt-feedback-destroy>
    <div class="row">
        <div class="col-md-12">
            <div class="clfix">
                <kt-register-flow step="3"></kt-register-flow>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div class="top-buttons">
                        <button ng-click="skip()">跳过</button>
                    </div>
                    <h3 class="title">偏好设置</h3>
                    <kt-prefer-setting kt-submit="submitForm()" upload-type="normal"></kt-prefer-setting>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="other-tips">
    <p>*本站展示的各类金融产品信息作为参考资料仅供行业内专业会员分析学习使用，不视为本站对该金融产品的任何推介。
        <br>各类金融产品的信息披露及募集对象以该金融产品销售机构设定的合格投资人及募集对象范围的相关要求为准。
    </p>
</div>
