<div class="register-container cbs" kt-full-page-destroy kt-feedback-destroy>
    <div class="row">
        <div class="col-md-12">
            <div class="clfix">
                <h3 class="title fl">注册 PANO</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form id="registerForm" novalidate autocomplete="off" autofill="off" name="registerForm" class="form-horizontal" kt-accessible-form>
                        <div>
                            <div class="form-group" ng-class="{'has-error':registerForm.inviter_code.$invalid && registerForm.inviter_code.$dirty}">
                                <!-- <label class="text-primary-dark control-label col-md-3"><span class="ml5 ctl">*</span>邀请码</label> -->
                                <div class="col-md-12">
                                    <!-- <input autofocus kt-validate-on-blur ng-minlength="6" ng-maxlength="6" placeholder="邀请码（不区分大小写）（选填）" type="text" required="required" ng-model="registerUser.inviter_code" id="" class="form-control" name="inviter_code"> -->
                                    <input autofocus placeholder="邀请码（不区分大小写）（选填）" type="text" ng-model="registerUser.inviter_code" id="" class="form-control" name="inviter_code">
                                    <!-- <div class="mt5 text-warning fl" ng-messages="registerForm.inviter_code.$dirty && registerForm.inviter_code.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请填写邀请码</div>
                                        <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>请输入6位邀请码</div>
                                        <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>请输入6位邀请码</div>
                                    </div> -->
                                    <div class="text-warning input-tip mt5 fr">
                                        <span ng-mouseenter="QRCodeVisible = true" ng-mouseleave="QRCodeVisible = false">如何获取邀请码？</span>
                                        <div class="qtcode" ng-show="QRCodeVisible">
                                            <h5>联系微信客服获取:</h5>
                                            <div class="img-con">
                                                <img src="/images/weixin.jpg" alt="微信客服二维码">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':registerForm.name.$invalid && registerForm.name.$dirty}">
                                <!-- <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>姓名</label> -->
                                <div class="col-md-12">
                                    <input ng-maxlength="50" ng-minlength="2" kt-validate-on-blur placeholder="您的真实姓名（提交后不可修改）" type="text" required ng-model="registerUser.name" id="" class="form-control" name="name">
                                    <div class="mt5 text-warning" ng-messages="registerForm.name.$dirty && registerForm.name.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入真实姓名</div>
                                        <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于2个字符</div>
                                        <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于50个字符</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':registerForm.company.$invalid && registerForm.company.$dirty}">
                                <!-- <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>公司全称</label> -->
                                <div class="col-md-12">
                                    <input ng-maxlength="50" ng-minlength="2" placeholder="您的公司全称" kt-validate-on-blur type="text" required ng-model="registerUser.company" id="" class="form-control" name="company">
                                    <div class="mt5 text-warning" ng-messages="registerForm.company.$dirty && registerForm.company.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入公司全称</div>
                                        <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于2个字符</div>
                                        <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于50个字符</div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group" ng-class="{'has-error':registerForm.email.$invalid && registerForm.email.$dirty}">
                                <!~~ <label class="text-primary-dark control-label col-md-3"><span class="ml5 f1_4rem ctl">*</span>公司邮箱</label> ~~>
                                <div class="col-md-12">
                                    <input placeholder="您的工作邮箱" kt-validate-on-blur type="email" required ng-model="user.email" id="" class="form-control" name="email">
                                    <div class="mt5 text-warning" ng-messages="registerForm.email.$dirty && registerForm.email.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入您的工作邮箱</div>
                                        <div ng-message="email"><i class="fa fa-frown-o fb mr5"></i>邮箱格式不正确</div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="form-group" ng-class="{'has-error':registerForm.mobile.$invalid && registerForm.mobile.$dirty}">
                                <!-- <label class="text-primary-dark control-label col-md-3"><span class="ml5 ctl">*</span>手机号</label> -->
                                <div class="col-md-12">
                                    <input placeholder="手机号" ng-pattern="/^\d{11}$/" type="text" required="required" ng-model="registerUser.mobile" id="" class="form-control" name="mobile">
                                    <div class="mt5 text-warning" ng-messages="registerForm.mobile.$dirty && registerForm.mobile.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入您的手机号</div>
                                        <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>请正确输入11位手机号码</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':registerForm.img_captcha.$invalid && registerForm.img_captcha.$dirty}">
                                <div class="col-md-12">
                                    <input style="width: 228px;" placeholder="输入图形验证码" kt-validate-on-blur type="text" required="required" ng-pattern="/^\w{4}$/" ng-model="registerUser.img_captcha" id="img_captcha" class="form-control fl" name="img_captcha">
                                    <div class="fl ml10">
                                        <img class="image-captcha" ng-src="{{imgCaptcha.url}}" height="45" ng-click="refreshImgCaptcha()" alt="验证码">
                                    </div>
                                    <div class="mt5 cbs text-warning" ng-messages="registerForm.img_captcha.$dirty && registerForm.img_captcha.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入图形验证码</div>
                                        <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>图形验证码有误</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group cbs" ng-class="{'has-error':registerForm.captcha.$invalid && registerForm.captcha.$dirty}">
                                <!-- <label class="text-primary-dark control-label col-md-3"><span class="ml5 ctl">*</span>验证码</label> -->
                                <div class="col-md-12">
                                    <input style="width: 228px;" kt-validate-on-blur autocomplete="off" autofill="off" placeholder="验证码" type="text" required="required" ng-pattern="/^\d{4}$/" ng-model="registerUser.captcha" id="" class="form-control fl mb5" name="captcha">
                                    <div class="btns phone-captcha fl mt5">
                                        <button style="width: 150px" ng-disabled="waitCaptchaMessage" ng-click="getCaptcha($event, 'sms', 'captcha')" class="btn f1_3rem fl btn-get-captcha">
                                            <i class="icon-pano icon-message va-1 f1_6rem mr5"></i>
                                            <span ng-hide="waitCaptchaMessage">短信获取</span>
                                            <span ng-hide="!waitCaptchaMessage">
                                            等待(<span ng-bind="timerMessage"></span>)
                                            </span>
                                        </button>
                                        <!-- <button style="height:34px;" ng-disabled="waitCaptchaTel || registerForm.mobile.$invalid" ng-click="getCaptcha($event, 'tel', 'captcha')" class="btn btn-dark f1_3rem fr">
                                            <i class="icon-pano icon-phone va-1 mr5"></i>
                                            <span ng-hide="waitCaptchaTel">语音获取</span>
                                            <span ng-hide="!waitCaptchaTel">
                                                等待(<span ng-bind="timerTel"></span>)
                                            </span>
                                        </button> -->
                                    </div>
                                    <div class="cbs pt10 text-warning-light" ng-show="messageTimerMoreThanTen">
                                        没收到验证码？ <a class="tu" ng-click="getCaptcha($event, 'tel', 'captcha')">试试语音获取</a>
                                        <div ng-hide="!waitCaptchaTel">（等待<span ng-bind="timerTel"></span>）</div>
                                    </div>
                                    <div class="mt5 text-warning cbs" ng-messages="registerForm.captcha.$dirty && registerForm.captcha.$error">
                                        <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请输入验证码</div>
                                        <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>验证码错误</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':registerForm.password.$invalid && registerForm.password.$dirty}">
                            <!-- <label class="text-primary-dark control-label col-md-3"><span class="ml5 ctl">*</span>密码</label> -->
                            <div class="col-md-12">
                                <input ng-minlength="6" autocomplete="off" autofill="false" ng-maxlength="20" placeholder="密码（6～20位，包含字母和数字）" type="password" required="required" ng-model="registerUser.password" ng-pattern="/^(?=.*\d)(?=.*[A-z]).{6,20}$/" id="" class="form-control" name="password">
                                <div class="mt5 text-warning" ng-messages="registerForm.password.$dirty && registerForm.password.$error">
                                    <div ng-message="minlength"><i class="fa fa-frown-o fb mr5"></i>不能小于6个字符，需包含字母和数字</div>
                                    <div ng-message="maxlength"><i class="fa fa-frown-o fb mr5"></i>不能大于20个字符，需包含字母和数字</div>
                                    <div ng-message="pattern"><i class="fa fa-frown-o fb mr5"></i>密码过于简单，需包含字母和数字</div>
                                </div>
                            </div>
                        </div>
                        <!-- diabled chrome autofill error -->
                        <div class="v-none">
                            <input type="password" name="hack">
                        </div>
                        <!--<div class="form-group" ng-class="{'has-error':registerForm.password_confirmation.$invalid && registerForm.password_confirmation.$dirty}">
                            <!~~ <label class="text-primary-dark control-label col-md-3"><span class="ml5 ctl">*</span>确认密码</label> ~~>
                            <div class="col-md-12">
                                <input placeholder="再次输入您的密码" type="password" required="required" ng-model="registerUser.password_confirmation" kt-compare-to="registerUser.password" id="" class="form-control" name="password_confirmation">
                                <div class="mt5 text-warning" ng-messages="registerForm.password_confirmation.$dirty && registerForm.password_confirmation.$error">
                                    <div ng-message="ktCompareTo"><i class="fa fa-frown-o fb mr5"></i>两次输入的密码请保持一致</div>
                                </div>
                            </div>
                        </div>-->
                        <!-- <div class="form-group" ng-class="{'has-error':registerForm.likes.$invalid && registerForm.likes.$dirty}">
                            <label class="text-primary-dark text-left fn col-md-12 mt10">以下哪些是您关注的金融资产类型？</label>
                            <div class="col-md-12 mt15">
                                <div class="checkbox-label" ng-repeat="like in likes">
                                    <input id="{{'like_' + like.value}}" type="checkbox" checklist-model="registerUser.likes" checklist-value="like.value" checklist-change="checkListChange()">
                                    <label for="{{'like_' + like.value}}" ng-bind="::like.name">
                                    </label>
                                </div>
                                <input type="hidden" name="likes" ng-model="hasLikes" required>
                                <div class="mt5 text-warning" ng-messages="registerForm.likes.$dirty && registerForm.likes.$error">
                                    <div ng-message="required"><i class="fa fa-frown-o fb mr5"></i>请选择您关注的资产类型</div>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox agreement-me checkbox-primary">
                                    <input id="agreement" type="checkbox" required="required" ng-model="registerUser.agreement" ng-true-value="1" ng-false-value="0">
                                    <label class="no-notely" for="agreement">
                                        我已仔细阅读并同意 <a href="/pano-agreement.htm" target="_blank">开通PANO用户协议</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 clfix">
                                <div kt-loading-status height="32" width="32" ignores="/api/v1/shadows"></div>
                                <button class="btn btn-navy-blue btn-block btn-lg" ng-click="submitForm('captcha')" ng-disabled="registerForm.$invalid || pendingRequests">注 册</button>
                            </div>
                            <div class="col-md-12 text-center mt20">
                                已有账号，直接 <a title="直接登录" class="tu" role="button" ui-sref="account.login">登录</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
