<footer>
    <div class="inner pb10" ng-class="{'container': isHomeView}">
        <!--<div class="row">
            <div class="col-sm-12 text-center footer-nav">
                <a title="关于我们" target="_blank" href="https://www.ktjr.com/aboutus/company">关于我们</a>
                <a title="联系我们" target="_blank" href="https://www.ktjr.com/aboutus/contact">联系我们</a>
                <!~~ <a title="融资服务" target="_blank" href="https://www.ktjr.com/aboutus/finacing">融资服务</a> ~~>
                <a title="加入我们" target="_blank" href="https://www.ktjr.com/aboutus/joinus">加入我们</a>
                <!~~ <a ui-sref="home.aboutus.company">隐私保护</a> ~~>
                <span class="item" title="联系电话" href="tel:010-84554188">联系电话：010-84554188</span>
                <a title="ICP备案" class="last" href="http://www.miibeian.gov.cn" rel="nofllow" target="_blank">京ICP备150220058号-1</a>
            </div>
        </div>
        <div class="row mt10">
        </div>-->
        <div class="row footer-nav">
            <div class="col-sm-6 left">
                <a title="ICP备案" href="http://www.miibeian.gov.cn" rel="nofllow" target="_blank">京ICP备150220058号-1</a>
                <div class="mt10">&copy;2016 开通金融信息服务（北京）有限公司</div>
            </div>
            <div class="col-sm-6 right">
                <span class="item f1_5rem" title="联系电话" href="tel:010-84554188"><i class="f1_3rem icon-pano icon-call mr5"></i>联系电话：010-84554188</span>
                <div class="mt10">
                    <a class="item" title="开通官网" target="_blank" href="https://www.ktjr.com">开通官网</a>
                    <a class="item" title="联系我们" target="_blank" href="https://www.ktjr.com/aboutus/contact">联系我们</a>
                    <!-- <a class="item" title="加入我们" target="_blank" href="https://www.ktjr.com/aboutus/joinus">加入我们</a> -->
                </div>
            </div>
        </div>
        <hr>
    </div>
</footer>
