<footer>
    <div class="inner pb10" ng-class="{'container': footerContainer}">
        <div class="row footer-nav">
            <div class="col-sm-6 left">
                <div class="home-link">
                    <a class="item mr10" title="开通官网" target="_blank" href="https://www.ktjr.com">开通官网</a>
                    <a class="item" title="联系我们" target="_blank" href="https://www.ktjr.com/aboutus/contact">联系我们</a>
                </div>
                <a title="ICP备案" href="http://www.miibeian.gov.cn" rel="nofllow" target="_blank">京ICP备150220058号-1</a>
                <div class="mt5">&copy;2016 开通金融信息服务（北京）有限公司</div>
            </div>
            <div class="col-sm-6 right">
                <div class="contact-way">
                    <div class="way1">
                        <a class="item f1_4rem white" title="联系邮箱" href="mailto:HelloPano@ktjr.com"><i class="f1_5rem icon-pano icon-message mr5"></i>HelloPano@ktjr.com</a>
                        <span class="item  f1_4rem white" title="联系电话" href="tel:010-84554188"><i class="f1_5rem icon-pano icon-call mr5"></i>010-84554188</span>
                    </div>
                    <div class="way2">
                        PANO微信小秘书
                        <div class="weixin-qcode">
                            <img  src="/images/weixin.jpg" alt="微信客服二维码">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</footer>
