<div class="container">
    <div id="logo" ng-click="bdTrack(['LandingPage页', '点击', 'logo']);goHome()">
        <a>
            <img src="{{logoHorizonal}}" alt="开通金融PANO" height="18">
        </a>
    </div>
    <nav role="navigation">
        <!-- <kt-minimaliza-menu></kt-minimaliza-menu> -->
        <div class="home-header-navbar-left">
            <a ng-click="bdTrack(['LandingPage页', '点击', '总览'])" ui-sref="pano.overview">总览</a>
            <a ng-click="bdTrack(['LandingPage页', '点击', '产品信息'])" ui-sref="pano.products.obligatoryRight">产品信息</a>
            <a ng-click="bdTrack(['LandingPage页', '点击', '机构信息'])" ui-sref="pano.institutions.dashboard">机构信息</a>
            <a ng-click="bdTrack(['LandingPage页', '点击', '市场数据'])" ui-sref="pano.market.default">市场数据</a>
            <a ng-click="bdTrack(['LandingPage页', '点击', '小微资产专栏'])" ui-sref="pano.smallAssetsLists.table.list">小微资产专栏
                <span>new</span>
            </a>
        </div>
        <div class="navbar-right">
           <!--  <ul class="nav navbar-nav header-nav no-borders mr15" ng-if="user && user.status">
                <li uib-dropdown class="hdropdown">
                    <a uib-dropdown-toggle>
                        <i class="icon-man icon-pano f1rem mr10"></i><span ng-bind="nowLocate"></span>好，<span ng-bind="user.name || user.mobile"></span>
                        <b class="fa fa-angle-down icon-arrow fb f1_5rem"></b>
                    </a>
                    <ul class="uib-dropdown-menu animated fadeIn  gray" role="menu" aria-labelledby="dLabel">
                        <li ui-sref-active="active">
                            <a title="个人设置" ui-sref="pano.settings">个人设置</a>
                        </li>
                        <li>
                            <a title="退出" kt-logout>退出</a>
                        </li>
                    </ul>
                </li>
            </ul> -->
            <ul class="nav navbar-nav header-nav no-borders mr15" ng-if="user && user.status">
                <li class="header-hdropdown">
                    <a>
                        <i class="icon-man icon-pano f1rem mr10"></i><span ng-bind="nowLocate"></span>好，<span ng-bind="user.name || user.mobile"></span>
                        <b class="fa fa-angle-down icon-arrow fb f1_5rem"></b>
                    </a>
                    <div class="choice">
                        <ul class="animated fadeIn gray" role="menu" aria-labelledby="dLabel">
                            <li ui-sref-active="active">
                                <a title="个人设置" ng-click="goSettings()" ui-sref="pano.settings">个人设置</a>
                            </li>
                            <li ui-sref-active="active">
                                <a title="退出" kt-logout>退出</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav header-nav no-borders" ng-if="!user.status">
                <li ui-sref-active="active" class="first">
                    <a title="登录" class="login menu" ng-click="bdTrack(['LandingPage页', '点击', '登录'])" ui-sref="account.login">
                        登录
                    </a>
                </li>
                <li ui-sref-active="active"><a title="注册" class="register menu" ng-click="bdTrack(['LandingPage页', '点击', '注册'])" ui-sref="account.register">注册</a></li>
            </ul>
        </div>
    </nav>
</div>
