<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Main Wrapper -->
<div id="wrapper" oc-lazy-load="['common/directives/kt-platform-directive.js', 'common/directives/feedback/directive.js', 'common/directives/feedback/theme/v1/style.css']">
    <div kt-loading-status class="global-loading-status" height="64" width="64" ignores="/api/v1/shadows,/api/v1/stats/overview?chart=history,/api/v1/stats/overview?chart=summary,/api/v1/accounts/prev_captcha,/api/v1/accounts/validate_prev_captcha,/api/v1/accounts/captcha,/api/v1/cards[get|delete]"></div>
    <div class="error401 text-center mt50 text-warning-light" ng-show="error401">
        <div class="default" ng-if="!error401.asRole">
            <i class="pe-7s-attention f1_5rem fb mr5"></i>您没有访问权限
        </div>
        <div ng-if="error401.asRole" class="header.html">
            <section ng-show="user.status === 'pended'">
                <h4>很抱歉，您暂无权限查看该页面</h4>
                <div class="c-tb">您的信息正在审核中，审核结果会在1个工作日内以邮件的形式通知您， 请耐心等待。</div>
            </section>
            <section ng-show="user.status === 'rejected'">
                <h4>很抱歉，您暂无权限查看该页面</h4>
                <div class="c-tb">您的信息审核未通过，请去<a ui-sref="pano.settings" class="tu mr2 ml2">个人设置页</a>根据提示重新填写或联系下方的PANO微信小秘书：</div>
                <div class="text-center mt20">
                    <img src="/images/weixin.jpg" alt="微信PANO微信小秘书" width="170">
                </div>
            </section>
        </div>
    </div>
    <div kt-platform-init ng-if="!error401">
        <div ui-view autoscroll="false" kt-full-page-destroy></div>
    </div>
    <kt-feedback options="options"></kt-feedback>
</div>
<!-- footer -->
<div id="footer" onload="this.style.display = 'block'" style="display:none;" ng-include="'views/common/footer.html'"></div>
