<div class="container">
    <div id="logo">
        <a ng-click="goHome()">
            <img src="{{logoHorizonal2}}" alt="开通金融PANO" height="18">
        </a>
    </div>
    <!-- <nav role="navigation">
        <div class="navbar-right">
            <ul class="nav navbar-nav header-nav no-borders" ng-if="!user.name">
                <li ui-sref-active="active">
                    <a title="登录" class="login menu" ui-sref="account.login">
                        <i class="icon-man icon-pano f13 mr10"></i>登录
                    </a>
                </li>
                <li ui-sref-active="active"><a title="注册" class="register menu" ui-sref="account.register">注册</a></li>
            </ul>
        </div>
    </nav> -->
</div>
